<option>Escolha um Sub Filtro</option>

{% if infos == 'ano'%}
            {% for result in results %}
            <option value="{{result.ano}}">{{result.ano}}</option>
            {% endfor %}

          {% elif infos == 'trimestre'%}
            {% for result in results %}
            <option value="{{result.trimestre}}">{{result.trimestre}}</option>
            {% endfor %}
            
          {% elif infos == 'escola'%}
            {% for result in results %}
            <option value="{{result.escola}}">{{result.escola}}</option>
            {% endfor %}

          {% elif infos == 'tipo_curso'%}
            {% for result in results %}
            <option value="{{result.tipo_curso}}">{{result.tipo_curso}}</option>
            {% endfor %}

          {% elif infos == 'modalidade_oferta'%}
            {% for result in results %}
            <option value="{{result.modalidade_oferta}}">{{result.modalidade_oferta}}</option>
            {% endfor %}

          {% elif infos == 'nome_curso'%}
            {% for result in results %}
            <option value="{{result.nome_curso}}">{{result.nome_curso}}</option>
            {% endfor %}
          {% endif %}