<table id="myTable" class="myTable" >
    <thead>
        <tr>
            <th scope="col">Diretoria</th>
            <th scope="col">Escola</th>
            <th scope="col">Tipo</th>
            <th scope="col">Curso</th>
            <th scope="col">Turno</th>
            <th scope="col">Modalidade</th>
            <th scope="col">Vagas Totais</th>
            <th scope="col">Início / Fim</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
      {% for filtro in filtros %}
        <tr>
            <td>{{filtro.diretoria}}</td>
            <td>{{filtro.escola.escola}}</td>
            <td>{{filtro.tipo_curso.tipo}}</td>
            <td>{{filtro.curso.curso}}</td>
            <td>{{filtro.turno}}</td>
            <td>{{filtro.modalidade.modalidade}}</td>
            <td>{{filtro.vagas_totais}}</td>
            <td>{{filtro.previsao_inicio|date:"d/m/Y"}}<br>{{filtro.previsao_fim|date:"d/m/Y"}}</td>
            <td>{{filtro.carga_horaria}}</td>
            <td>  <div class="dropdown" style="float: right; ">
                <button class="dropbtn btn icon btn-dark"><i class="fas fa-ellipsis-v"></i></button>
                <div class="dropdown-content">
                  {% if filtro.situacao <= 1 %}
                  <a 
                  href="editar-meta/{{filtro.id}}"
                  class="btn icon btn-primary"> <i class="bi bi-pencil"></i> EDITAR</a>
                  {% endif %}
                  <a type="button" onclick='insereTexto("{{filtro.id}}","{{filtro.vagas_totais}}","{{filtro.carga_horaria}}","{{filtro.escola.id}}","{{filtro.tipo_curso.id}}","{{filtro.ano}}")' class="btn icon btn-danger" data-bs-toggle="modal"
                  data-bs-target="#warning"><i class="bi bi-trash"> APAGAR</i>
                </a>
                
                </div>
              </div>
        </tr>
        {% endfor %}
        
    </tbody>
</table>