<table id="myTable" class="myTable">
  <thead>
    <tr>
      <th>Escola</th>
      <th>Tipo</th>
      <th>Eixo</th>
      <th>Curso</th>
      <th>Status</th>
      <th>Ação</th>
      <th>On/Off</th>
    </tr>
  </thead>
  <tbody id="tabela_metas">
    {% for curso in cursos %}

            <tr>
              <td>{{curso.escola.escola}}</td>
              <td>{{curso.tipo.tipo}}</td>
              <td>{{curso.eixos.nome}}</td>
              <td>{{curso.curso}}</td>
              {% if curso.status == "ATIVO" %}
              <td ><a  style="width: 100%;" class="btn btn-success btn-icon-split">
                <span id="status{{info.id}}" class="text">{{curso.status}}</span>
            </a></td>
              {% else %}
              <td><a   style="width: 100%;" class="btn btn-warning btn-icon-split text-dark">

                <span  id="status{{info.id}}" class="text">{{curso.status}}</span>
            </a></td>
              {% endif %}
              <td>
              
                <button
                  type="button"
                  onclick='insereTexto("{{curso.id}}")'
                  class="btn icon btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#warning"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td>
    
                  {% if curso.status == "ATIVO" %}
                  <button
                    type="button"
                    onclick='desabilita_curso("{{curso.id}}","ATIVO")'
                    class="btn icon btn-dark"
                    
                  >
                  <i class="bi bi-lock"></i>
                  </button>
                {% else %}
                <button
                type="button"
                onclick='desabilita_curso("{{curso.id}}","INATIVO")'
                class="btn icon btn-dark"
                
              >
              <i class="bi bi-unlock-fill"></i>
              </button>
                {% endif %}

              </td>
            </tr>
                  
    {% endfor %}
  </tbody>
</table>