{% extends "index.html" %} {% block content %}
{% load static %}

<style>
  /* The container <div> - needed to position the dropdown content */
    .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
  #myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}



#myTable {
  border-collapse: collapse; /* Collapse borders */
  width:100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */

}

#myTable th, #myTable td {
  text-align: center; /* Left-align text */
  padding: 10px; /* Add padding */
  overflow-wrap: break-word;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #00f36d6c;
}

@media screen and (max-width: 1280px) {
    .myTable {
        border: 0px;
    }
    .myTable caption {
        font-size: 22px;
    }
    .myTable thead {
        display: none;
    }
    .TamyTableble tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
        
    }
    .myTable th, .table td {
        font-size: 12px;
        
    }
    .myTable td {
        display: block;
        border-bottom: 1px solid #ddd;
        
        
    }
    .myTable  td:last-child {
        border-bottom: 0px;
    }
    .myTable td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .myTable button, btn_voltar{
      width: 100%;
      margin-bottom: 10px;
    }
}

#myTable2 {
  border-collapse: collapse; /* Collapse borders */
  width:100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */

}

#myTable2 th, #myTable2 td {
  text-align: center; /* Left-align text */
  padding: 10px; /* Add padding */
  overflow-wrap: break-word;
}

#myTable2 tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable2 tr.header, #myTable2 tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #00f36d6c;
}

@media screen and (max-width: 1280px) {
    .myTable2 {
        border: 0px;
    }
    .myTable2 caption {
        font-size: 22px;
    }
    .myTable2 thead {
        display: none;
    }
    .TamyTable2ble tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
        
    }
    .myTable2 th, .table td {
        font-size: 12px;
        
    }
    .myTable2 td {
        display: block;
        border-bottom: 1px solid #ddd;
        
        
    }
    .myTable2  td:last-child {
        border-bottom: 0px;
    }
    .myTable2 td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .myTable2 button, btn_voltar{
      width: 100%;
      margin-bottom: 10px;
    }
}
</style>

{% if 'ima' in permissoes.permission %}
<div class="page-heading">
  <h3>Cadastrar Metas Analíticas - EFG</h3>
</div>

  <form name="filter" id="filter" method="post" action="/realizar-solicitacao" data-funcoes-url2="{% url 'ajax_load_funcoes_filter' %}">
<div class="row">
  
  <div class="col-sm-6">
    <div class="card">
    <div class="row">
      
        
        <div class="col-sm-6">
          <div class="card-body h-50" style="text-align: center; text-align: center;">
            <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_ano" name="filtro_ano">
              <option value="" selected>ANO</option>
              {% for ano in anos %}
                <option value="{{ano.ano}}">{{ano.ano}}</option>
              {% endfor %}
            </select>
            <br>

            <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_trimestre" name="filtro_trimestre">
              <option value="" selected>SEMESTRE</option>
              {% for trimestre in trimestres %}
              <option value="{{trimestre.trimestre}}">{{trimestre.trimestre}}</option>
              {% endfor %}
            </select>
            <br>
            <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_escola" name="filtro_escola">
              <option value="" selected>ESCOLA</option>
              {% for escola_cad in escolas_cad %}
              <option value="{{escola_cad.escola_id}}">{{escola_cad.escola.escola}}</option>
              {% endfor %}
            </select>
            <hr>
            <button type="button" style="width: 100%; height: 24px; text-align: center; font-size: 10px; font-weight: bold;" onclick="redefine_filtros()" class="btn btn-dark">REDEFINIR FILTROS</button>
           
          </div>
          </div>
          <div class="col-sm-6">
            <div class="card-body h-50" style="text-align: center; text-align: center;">
              <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_modalidade" name="filtro_modalidade">
                <option value="" selected>MODALIDADE</option>
                {% for mod in mods %}
                <option value="{{mod.modalidade_id}}">{{mod.modalidade.modalidade}}</option>
                {% endfor %}
              </select>
              <br>
              <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_curso" name="filtro_curso">
                <option value="" selected>CURSO</option>
                {% for curso_cad in cursos_cad %}
                <option value="{{curso_cad.curso_id}}">{{curso_cad.curso.curso}}</option>
                {% endfor %}
              </select>
              <br>
              <select style="text-align: center;font-weight: bold; background-color: #0C504B;color:#f1f1f1;" readonly type="text"" class="form-control" id="filtro_tipo" name="filtro_tipo">
                <option value="" selected>TIPO</option>
                {% for tipo_cad in tipos_cad %}
                <option value="{{tipo_cad.tipo_curso_id}}">{{tipo_cad.tipo_curso.tipo}}</option>
                {% endfor %}
              </select>
              <hr>
              <button type="button" style="width: 100%; height: 24px; text-align: center; font-size: 10px; font-weight: bold;" onclick="filtra_buscas()" class="btn btn-success">FILTRAR</button>
            </div>
            
          </div>
         
          
    
        </div>
    </div>
    
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4  style="text-align:left; background-color:#363636;color: #ddd; font-size: 15px; "  class="card-title form-control">
        <div class="row">
          <div class="col-sm-6"><b>VAGAS TOTAIS</b></div>
          <div class="col-sm-6" style="text-align: right ;"><span id="tl_vagas" name="tl_vagas">...</span></div>
          
        </div>
        
        </h4>
        <h4  style="text-align:left; background-color:#363636;color: #ddd; font-size: 15px; "  class="card-title form-control">
          <div class="row">
            <div class="col-sm-6"><b>CARGA HORÁRIA TOTAL</b></div>
            <div class="col-sm-6" style="text-align: right ;"><span id="tl_total_horas" name="tl_total_horas">...</span></div>
            
          </div>
          
          </h4>
          <h4  style="text-align:left; background-color:#363636;color: #ddd; font-size: 15px; "  class="card-title form-control">
            <div class="row">
              <div class="col-sm-6"><b>RECURSO PLANEJADO</b></div>
              <div class="col-sm-6" style="text-align: right ;"><span id="tl_rp" name="tl_rp">...</span></div>
              
            </div>
            
            </h4>
      </div>
    </div>
  </div>

</div>

</form>


<div class="card">
  <div class="card-header">
    
    <h4 class="card-title">Inserir metas de ensino do convênio</h4>
  </div>

  <div class="card-body">
    <div class="column">
      
      <div>
        <form
          name="Form"
          id="Form"
          class="form-control"
          method="post"
          action="/cadmetas"
        >
          {% csrf_token %}


          <div class="row">
          <div class="col-md-4 form-group">
            <label for="basicInput"><b>DIRETORIA:</b></label>
            <select class="form-control" id="basicInput" name="basicInput" required>
              <option selected value="">---------</option>
              <option value="DAC">DAC</option>
              <option value="DDA">DDA</option>
              <option value="DE">DE</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>ESCOLA:</b></label>
            
            <select class="form-control" id="escola" name="escola" required>
              <option selected value="">---------</option>
              {% for escola in escolas %}
              <option value="{{escola.id}}">{{escola.escola}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>MUNICÍPIO:</b></label>
            <select class="form-control" id="municipio" name="municipio" required>
              <option selected value="">---------</option>
              {% for municipio in municipios %}
              <option value="{{municipio.id}}">{{municipio.municipio}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>TIPO DE CURSO:</b></label>
            <select class="form-control" id="tipo" name="tipo"> 
              <option selected value="">---------</option>
              {% for tipo in tipos %}
              <option  value="{{tipo.id}}">{{tipo.tipo}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>EIXOS:</b></label>
            <select class="form-control" id="eixo" name="eixo" required>
              <option selected value="">---------</option>
              {% for eixo in eixos %}
              <option value="{{eixo.eixo_id}}">{{eixo.nome}}</option>
              {% endfor %}       
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>MODALIDADE:</b></label>
            <select class="form-control" id="modalidade" name="modalidade" required>
              <option selected value="">---------</option>
              {% for modalidade in modalidades %}
              <option value="{{modalidade.id}}">{{modalidade.modalidade}}</option>
             {% endfor %}
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>CURSO:</b></label>
            <select class="form-control" id="curso" name="curso" required>
              <option selected value="">---------</option>
              {% for curso in cursos %}
              <option value="{{curso.id}}">{{curso.curso}}</option>
              {% endfor %}         
            </select>
          </div>

        

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>TURNO:</b></label>
            <select class="form-control" id="turno" name="turno" required>
              <option selected value="">---------</option>
              <option value="VESPERTINO">VESPERTINO</option>
              <option value="MATUTINO">MATUTINO</option>
              <option value="NOTURNO">NOTURNO</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>ANO:</b></label>
            <select class="form-control" id="ano" name="ano" required>
              <option selected value="">---------</option>
              <option value="2021">2021</option>  
              <option value="2022">2022</option> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option>  
            </select>
          </div>

            

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>SEMESTRE:</b></label>
              <select class="form-control" id="trimestre" name="trimestre" required>
                <option selected value="">---------</option>
                <option value="1">1º Semestre</option>  
                <option value="2">2º Semestre</option>  
              </select>
            </div>

            <div class="col-md-4 form-group" id="ajax_carga_horaria">
              <label for="basicInput"><b>CARGA HORÁRIA:</b></label>
              <input
                type="number"
                class="form-control"
                id="carga_horaria"
                name="carga_horaria"
                placeholder="Informe a quantidade de vagas:"
                min="1"
                value=""
                oninput="calcular()"
                required
              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>VAGAS TOTAIS:</b></label>
              <input
                type="number"
                class="form-control"
                id="vagas_totais"
                name="vagas_totais"
                placeholder="Informe a quantidade de vagas:"
                min="1"
                value=""
                oninput="calcular()"
                required
              >
            </div>

           

            <div class="col-md-4 form-group" id="cht_ajax">
              <label for="basicInput"><b>CARGA HORÁRIA TOTAL:</b></label>
              <input
                type="number"
                class="form-control"
                id="ch_total"
                name="ch_total"
                placeholder="Informe a carga horária:"
                min="1"
                value="0"
                readonly
                
              >
              <input style="display: none;" id="limite" name="limite" value="0" >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DATA PREVISTA PARA INÍCIO:</b></label>
              <input
                type="date"
                class="form-control"
                id="data_p_inicio"
                name="data_p_inicio"
                required

              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DATA PREVISTA PARA FINALIZAR:</b></label>
              <input
                type="date"
                class="form-control"
                id="data_p_fim"
                name="data_p_fim"
                required

              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DIAS DA SEMANA:</b></label>
              <input
                type="text"
                class="form-control"
                id="dias_semana"
                name="dias_semana"
                required

              >
            </div>

            <!-- OCULTO -->
            <div class="col-md-4 form-group" style="display: none;">
              <label for="basicInput"><b>PREVISÃO PARA ABERTURA DO EDITAL:</b></label>
              <input
                type="date"
                class="form-control"
                id="p_abertura_edital"
                name="p_abertura_edital"
                

              >
            </div>

            <div class="col-md-4 form-group" style="display: none;">
              <label for="basicInput"><b>PREVISÃO PARA FECHAMENTO DO EDITAL:</b></label>
              <input
                type="date"
                class="form-control"
                id="p_fechamento_edital"
                name="p_fechamento_edital"
                

              >
            </div>

            <div class="col-md-8 form-group">
              <label for="basicInput" style="width: 100%; text-align: right;"><b> </b></label>
              <a href="/cadastrar-metas" class="btn btn-secondary" style="width: 45%;">Voltar</a>
            <button type="button" id="valida_form" style="width: 53%;" onclick="validaForm()" class="btn btn-success">Inserir Metas</button>
             
            </div>



           
          </div>
          
    
        </form>
        
      </div>
    </div>
  </div>
  </div>
  <section class="section">
    <div class="row">

        {% if btn_enviar_planejamento.situacao == 0 or btn_enviar_planejamento.situacao == 1 and permissoes != 0  %}
        <div class="col-sm-12" style="text-align: right;">
          <a type="button" style="text-align: right;" href="/enviar-planejamento" class="btn icon btn-danger">ENVIAR PLANEJAMENTO</a>
        </div>
        {% endif %}

    </div>
  </section>
  <br>
  <section class="section">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Metas Adicionadas</h4> <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Procurar Escola...">
      <div class="" style="text-align: right;margin-top: 5px;">
      <button  onclick="exportData()">
        <span class="glyphicon glyphicon-download"></span>
        Exportar CSV</button>
      </div>
    </div>

    <div class="card-body" style="overflow-x:auto;">
      <table id="myTable" class="myTable" >
        <thead>
            <tr>
                <th scope="col">Diretoria</th>
                <th scope="col">Escola</th>
                <th scope="col">Tipo</th>
                <th scope="col">Curso</th>
                <th scope="col">Turno</th>
                <th scope="col">Modalidade</th>
                <th scope="col">Vagas Totais</th>
                <th scope="col">Início/Fim</th>
                <th scope="col">Carga Horária</th>
                <th scope="col">Município</th>
                <th scope="col">Status</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
          {% for lancamento in lancamentos %}

            <tr>
                <td>{{lancamento.diretoria}}</td>
                <td>{{lancamento.escola.escola}}</td>
                <td>{{lancamento.tipo_curso.tipo}}</td>
                <td>{{lancamento.curso.curso}}</td>
                <td>{{lancamento.turno}}</td>
                <td>{{lancamento.modalidade.modalidade}}</td>
                <td>{{lancamento.vagas_totais}}</td>
                <td>{{lancamento.previsao_inicio|date:"d/m/Y"}}<br>{{lancamento.previsao_fim|date:"d/m/Y"}}</td>
                <td>{{lancamento.carga_horaria}}</td>
                <td>{{lancamento.udepi.municipio}}</td>
                {%  if lancamento.situacao == 0 %}
                <td><button class="btn icon btn-primary" style="color:#FFFFFF;width: 150px; font-size: 10px; font-weight: bold;">AGUARDANDO ANÁLISE</button></td>
                {%  elif lancamento.situacao == 1 %}
                <td><button class="btn icon btn-danger" style="color:#FFFFFF;width: 150px; font-size: 10px; font-weight: bold;">REPROVADO</button></td>
                {%  elif lancamento.situacao == 2 %}
                <td><button class="btn icon btn-warning" style="color:#000;width: 150PX; font-size: 10px; font-weight: bold;">EM ANÁLISE</button></td>
                {%  else %}
                <td><button class="btn icon btn-success" style="color:#FFFFFF;width: 150px; font-size: 10px; font-weight: bold;">APROVADO</button></td>
                {% endif %}
                <td>
                  <div class="dropdown" style="float: right; ">
                    <button class="dropbtn btn icon btn-dark"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-content" >
                      {% if lancamento.situacao <= 1 %}
                      
                      <a type="button"  style="color: #FFFFFF;"
                      href="editar-meta/{{lancamento.id }}"
                      class="icon btn-primary"> <i class="bi bi-pencil">EDITAR</i> </a>
                      {% endif %}
                      <a style="color: #FFFFFF;" type="button" onclick='insereTexto("{{lancamento.id}}","{{lancamento.vagas_totais}}","{{lancamento.carga_horaria}}","{{lancamento.escola.id}}","{{lancamento.tipo_curso.id}}","{{lancamento.ano}}")' class="icon btn-danger" data-bs-toggle="modal"
                      data-bs-target="#warning"><i class="bi bi-trash"> APAGAR</i>
                    </a>
                    
                    </div>
                  </div>
                 </td>
              <!---<a  class="deleteFromMeta btn icon btn-danger" href="apagar-meta/{{meta.id}}"><i class="bi bi-x"></i></a></td>-->
            </tr>
            {% endfor %}
            
           
        </tbody>
    </table>
      </div>

      </div>
      </section>
{% else %}
<div class="alert alert-danger" role="alert">
  :'( Desculpe, mas você não tem permissões para acessar esta funcionalidade do sistema!
</div>
{% endif %}
    <div class="modal fade text-left" id="warning" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel140" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          role="document">
        
          <div class="modal-content">
              <div class="modal-header bg-danger">
                  <h5 class="modal-title white" id="myModalLabel140">Confirma a exclusão da meta?
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal"
                      aria-label="Close">
                      <i data-feather="x"></i>
                  </button>
              </div>
           
              <div class="modal-body">
                  Ao confirmar, a meta será excluida.
                  
                    
                  
              </div>
              <div class="modal-footer">
                <form name="Form" id="Form" method="POST" action="/apagar-meta">
                  {% csrf_token %}
                  <div style="display: none;">
                <input type="text" id="id_deleta" name="id_deleta">
                <input type="text" id="cht" name="cht">
                <input type="text" id="escola_delete" name="escola_delete">
                <input type="text" id="tipo_delete" name="tipo_delete">
                <input type="text" id="ano_delete" name="ano_delete">
              </div>
                  <button type="button" class="btn btn-light-secondary"
                      data-bs-dismiss="modal">
                      <i class="bx bx-x d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Fechar</span>
                  </button>
                  <button class="btn btn-danger ml-1" type="submit">Confirmar Exclusão</button>

                </form>
              </div>
          </div>
        
      </div>
      </div>
    
      <div class="modal fade text-left" id="ops" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel140" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          role="document">
        
          <div class="modal-content">
              <div class="modal bg-danger center">
                  <h5  class="modal-title white" >Limite Excedido!
                  </h5>
      
              </div>
           
              <div class="modal-body" style="text-align: center;">
                <h2 style="color: #000000;"><b>Oops!</b></h2>
                 <b>Não foi possível adicionar a carga horária total!
                  <br>O valor excede o limite permitido ou o saldo de horas não está cadastrado.</b>
                  <br><br><b><h4 style="color: #000000;" id="total_de_horas_disponiveis"></h4></b><hr>
                  Horas cadastradas para este tipo de lançamento
                </div>
              <div class="modal-footer">
                <button style="width: 100%;" type="button" class="btn btn-light-secondary"
                data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Fechar</span>
            </button>
              </div>
          </div>
        
      </div>
      </div>


<script>
  
  function validaForm() {
    var limite = parseInt($("#limite").val());
    var cht = parseInt($("#ch_total").val());
    document.getElementById('total_de_horas_disponiveis').innerHTML = limite
    console.log(limite)
    if (cht > limite || cht == 0){
      if (cht == 0 || limite == 0){
        document.getElementById('total_de_horas_disponiveis').innerHTML = "Sem Registros"
        document.getElementById('total_de_horas_disponiveis').style.color = "red"
        $('#ops').modal('show');
      }else{
        var texto = "Carga Horária Total Excedida!<br>Disponível: "+limite+' horas'
        document.getElementById('total_de_horas_disponiveis').innerHTML = texto
        document.getElementById('total_de_horas_disponiveis').style.color = "red"
        $('#ops').modal('show');
      }
      
      
    }else{
      trimestre = $("#trimestre").val()
      data_p_inicio = $("#data_p_inicio").val()
      data_p_fim = $("#data_p_fim").val()
      dias_semana = $("#dias_semana").val()
      p_abertura_edital = $("#p_abertura_edital").val()
      p_fechamento_edital = $("#p_fechamento_edital").val()
      carga_horaria = $("#carga_horaria").val()
      vagas_totais = $("#vagas_totais").val()

      if (trimestre == "" || data_p_inicio == "" || data_p_fim == "" || dias_semana == ""  || carga_horaria == "" || vagas_totais == ""){

        if(trimestre == ""){
          document.getElementById('trimestre').style.borderColor = "red"
        }else{
          document.getElementById('trimestre').style.borderColor = ""
        }

        if(carga_horaria == ""){
          document.getElementById('carga_horaria').style.borderColor = "red"
        }else{
          document.getElementById('carga_horaria').style.borderColor = ""
        }

        if(vagas_totais == ""){
          document.getElementById('vagas_totais').style.borderColor = "red"
        }else{
          document.getElementById('vagas_totais').style.borderColor = ""
        }
     
        if(data_p_inicio == ""){
          document.getElementById('data_p_inicio').style.borderColor = "red"
        }else{
          document.getElementById('data_p_inicio').style.borderColor = ""
        }

        if(data_p_fim == ""){
          document.getElementById('data_p_fim').style.borderColor = "red"
        }else{
          document.getElementById('data_p_fim').style.borderColor = ""
        }

        // if(p_abertura_edital == ""){
        //   document.getElementById('p_abertura_edital').style.borderColor = "red"
        // }else{
        //   document.getElementById('p_abertura_edital').style.borderColor = ""
        // }

        if(dias_semana == ""){
          document.getElementById('dias_semana').style.borderColor = "red"
        }else{
          document.getElementById('dias_semana').style.borderColor = ""
        }

        // if(p_fechamento_edital == ""){
        //   document.getElementById('p_fechamento_edital').style.borderColor = "red"
        // }else{
        //   document.getElementById('p_fechamento_edital').style.borderColor = ""
        // }
      
      }else{
        document.getElementById('Form').submit();
      }
      
    }

  }
  
  function calcular() {
    var n1 = parseInt(document.getElementById("carga_horaria").value, 10);
    var n2 = parseInt(document.getElementById("vagas_totais").value, 10);
    var resultado = n1 * n2;
    document.getElementById("ch_total").value = parseInt(resultado);
  }


  $("#escola").change(function(){
       console.log('teste')
        const url = "/ajax/ajax_load_cht";
        const url_eixos = '/ajax/ajax_load_eixos';
        const url_cursos = "/ajax/ajax_load_cursos";
        const url_municipio = "/ajax/ajax_load_municipios";
        const url_ch = '/ajax/ajax_load_carga_hr_curso'
        var curso_selected = $('#curso option:selected').text()
        escola = $(this).val();
        tipo_curso = document.getElementById('tipo').value
        ano = document.getElementById('ano').value
        modalidade = document.getElementById('modalidade').value
        eixo = document.getElementById('eixo').value
        semestre = document.getElementById('trimestre').value

        var curso_selected = $('#curso option:selected').text()


        $.ajax({
          url : url_cursos,
          
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

        $.ajax({
            url : url_eixos,
            data: {'escola_id': escola,'tipo_id':tipo_curso},
            success: function(data){
                $("#eixo").html(data);
            }
        });

        $.ajax({
            url : url,
            data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
            success: function(data){
                $("#cht_ajax").html(data);
                calcular()
            }
        });

        $.ajax({
            url : url_municipio,
            data: {'escola_id': escola},
            success: function(data){
                $("#municipio").html(data);
            }
        });

        $.ajax({

          url : url_ch,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
          success: function(data){
              $("#ajax_carga_horaria").html(data);
    
          }
    });
  });

  $("#tipo").change(function(){
       
       const url = "/ajax/ajax_load_cht";
       const url_cursos = "/ajax/ajax_load_cursos";
       const url_ch = '/ajax/ajax_load_carga_hr_curso'

       tipo_curso = $(this).val();
       escola = document.getElementById('escola').value
       ano = document.getElementById('ano').value
       modalidade = document.getElementById('modalidade').value
       eixo = document.getElementById('eixo').value
       semestre = document.getElementById('trimestre').value

       var curso_selected = $('#curso option:selected').text()

       $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

       $.ajax({
           url : url,
           data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
           success: function(data){
               $("#cht_ajax").html(data);
               calcular()
           }
       });


        $.ajax({
            
            url : url_ch,
            data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
            success: function(data){
                $("#ajax_carga_horaria").html(data);

            }
          });

   });

  $("#ano").change(function(){
       
       const url = "/ajax/ajax_load_cht";
       ano = $(this).val();
       escola = document.getElementById('escola').value
       tipo_curso = document.getElementById('tipo').value
       modalidade = document.getElementById('modalidade').value
       semestre = document.getElementById('trimestre').value
       $.ajax({
           url : url,
           data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
           success: function(data){
               $("#cht_ajax").html(data);
               calcular()
           }
       });
   });

  $("#modalidade").change(function(){
       
      const url = "/ajax/ajax_load_cht";
      const url_cursos = "/ajax/ajax_load_cursos";
  
      modalidade = $(this).val();
      eixo = document.getElementById('eixo').value
      escola = document.getElementById('escola').value
      console.log(escola)
      tipo_curso = document.getElementById('tipo').value
      ano = document.getElementById('ano').value
      semestre = document.getElementById('trimestre').value

      console.log(eixo)
      $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'ano':ano},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

      $.ajax({
          url : url,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
          success: function(data){
              $("#cht_ajax").html(data);
              calcular()
          }
      });
  });

  $("#curso").change(function(){

      const url_ch = '/ajax/ajax_load_carga_hr_curso'
      var curso_selected = $('#curso option:selected').text()
   

       eixo = document.getElementById('eixo').value
       escola = document.getElementById('escola').value
       console.log(escola)
       tipo_curso = document.getElementById('tipo').value
       ano = document.getElementById('ano').value
       semestre = document.getElementById('trimestre').value
       modalidade = document.getElementById('modalidade').value
  
       $.ajax({

          url : url_ch,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
          success: function(data){
              $("#ajax_carga_horaria").html(data);

          }
          });
   });

  $("#eixo").change(function(){
        const url_cursos = "/ajax/ajax_load_cursos";

        eixo = $(this).val();
        tipo_curso = document.getElementById('tipo').value
        modalidade = document.getElementById('modalidade').value
        escola = document.getElementById('escola').value
        tipo_curso = document.getElementById('tipo').value
        ano = document.getElementById('ano').value
        semestre = document.getElementById('trimestre').value

        $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'ano':ano},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

    });
  
  $("#trimestre").change(function(){
      const url_cursos = "/ajax/ajax_load_cht";

      semestre = $(this).val();
      tipo_curso = document.getElementById('tipo').value
      modalidade = document.getElementById('modalidade').value
      escola = document.getElementById('escola').value
      tipo_curso = document.getElementById('tipo').value
      ano = document.getElementById('ano').value

      $.ajax({
        url : url_cursos,
        data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
        success: function(data){
            $("#cht_ajax").html(data);
  
        }
    });

  });
  
  function insereTexto(id,vagas_totais,carga_horaria,escola,tipo,ano)
    {
      console.log(id)
      document.getElementById('id_deleta').value = id;
      var total = vagas_totais * carga_horaria
      document.getElementById('cht').value = total
      document.getElementById('escola_delete').value = escola
      document.getElementById('tipo_delete').value = tipo
      document.getElementById('ano_delete').value = ano
      }

  function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("myTable");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column8 = column8.replace("\n",'-')
        column9 = row.cells[8].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9

            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Metas_Analiticas.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}

  function filtra_buscas(){
      const url = "/ajax/ajax_load_vagas";
      const url2 = "/ajax/ajax_load_recurso_planejado";
      const url3 = "/ajax/ajax_load_total_horas";
      const url4 = "/ajax/ajax_load_tabela";
      let ano = document.getElementById("filtro_ano").value
      let trimestre = document.getElementById("filtro_trimestre").value
      let escola = document.getElementById("filtro_escola").value
      let modalidade = document.getElementById("filtro_modalidade").value
      let curso = document.getElementById("filtro_curso").value
      let tipo = document.getElementById("filtro_tipo").value
      
      
      $.ajax({
          url : url,
          data: {'ano': ano,'trimestre':trimestre,'escola':escola,'modalidade':modalidade,'curso':curso,'tipo':tipo},
          success: function(data){
              $("#tl_vagas").html(data);
          }
      });

      $.ajax({
          url : url2,
          data: {'ano': ano,'trimestre':trimestre,'escola':escola,'modalidade':modalidade,'curso':curso,'tipo':tipo},
          success: function(data){
              $("#tl_rp").html(data);
          }
      });

      $.ajax({
          url : url3,
          data: {'ano': ano,'trimestre':trimestre,'escola':escola,'modalidade':modalidade,'curso':curso,'tipo':tipo},
          success: function(data){
              $("#tl_total_horas").html(data);
          }
      });

      $.ajax({
          url : url4,
          data: {'ano': ano,'trimestre':trimestre,'escola':escola,'modalidade':modalidade,'curso':curso,'tipo':tipo},
          success: function(data){
              $("#myTable").html(data);
          }
      });
    }

  function redefine_filtros(){
    let ano = document.getElementById("filtro_ano").innerHTML
    let trimestre = document.getElementById("filtro_trimestre").innerHTML
    let escola = document.getElementById("filtro_escola").innerHTML
    let modalidade = document.getElementById("filtro_modalidade").innerHTML
    let curso = document.getElementById("filtro_curso").innerHTML
    let tipo = document.getElementById("filtro_tipo").innerHTML

    $('#filtro_ano').val("".trim()).change();
    $('#filtro_trimestre').val("".trim()).change();
    $('#filtro_escola').val("".trim()).change();
    $('#filtro_modalidade').val("".trim()).change();
    $('#filtro_curso').val("".trim()).change();
    $('#filtro_tipo').val("".trim()).change();
    filtra_buscas()
  }

  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
  {% endblock content %}

