{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %} Solicitação de inclusão de curso {% endblock %}
{% block content %}
<div class="page-heading">
  <h3>Solicitação de inclusão de curso</h3>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Escola Solicita Inclusão de Curso que já existe no portfolio do CETT
    </h4>
  </div>

  <div class="card-body">
    <div class="column">
      <form class="form-control" action="{% url 'thanks' %}" method="post">
        {% csrf_token %}
        {% crispy form %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}

<script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>