<table id="myTable" class="myTable" >
    <thead>
        <tr>
            <th scope="col">Diretoria</th>
            <th scope="col">Escola</th>
            <th scope="col">Tipo</th>
            <th scope="col">Curso</th>
            <th scope="col">Turno</th>
            <th scope="col">Modalidade</th>
            <th scope="col">Vagas Totais</th>
            <th scope="col">Início/Fim</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Município</th>
        </tr>
    </thead>
    <tbody>
      {% for lancamento in lancamentos %}

        <tr>
            <td>{{lancamento.diretoria}}</td>
            <td>{{lancamento.escola}}</td>
            <td>{{lancamento.tipo_curso.tipo}}</td>
            <td>{{lancamento.curso.curso}}</td>
            <td>{{lancamento.turno}}</td>
            <td>{{lancamento.modalidade.modalidade}}</td>
            <td>{{lancamento.vagas_totais}}</td>
            <td>{{lancamento.previsao_inicio|date:"d/m/Y"}}<br>{{lancamento.previsao_fim|date:"d/m/Y"}}</td>
            <td>{{lancamento.carga_horaria}}</td>
            <td>{{lancamento.udepi.municipio}}</td>

          <!---<a  class="deleteFromMeta btn icon btn-danger" href="apagar-meta/{{meta.id}}"><i class="bi bi-x"></i></a></td>-->
        </tr>
        {% endfor %}
        
        
    </tbody>
</table>