<table id="myTable" class="myTable" >
    <thead>
        <tr>
            <th scope="col">Diretoria</th>
            <th scope="col">Escola</th>
            <th scope="col">Tipo</th>
            <th scope="col">Curso</th>
            <th scope="col">Turno</th>
            <th scope="col">Modalidade</th>
            <th scope="col">Vagas Totais</th>
            <th scope="col">Início / Fim</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
      {% for filtro in filtros %}
        <tr>
            <td>{{filtro.diretoria}}</td>
            <td>{{filtro.escola.escola}}</td>
            <td>{{filtro.tipo_curso.tipo}}</td>
            <td>{{filtro.curso.curso}}</td>
            <td>{{filtro.turno}}</td>
            <td>{{filtro.modalidade.modalidade}}</td>
            <td>{{filtro.vagas_totais}}</td>
            <td>{{filtro.previsao_inicio|date:"d/m/Y"}}<br>{{filtro.previsao_fim|date:"d/m/Y"}}</td>
            <td>{{filtro.carga_horaria}}</td>
            <td><a href="editar-meta/{{filtro.id}}" class="changeSelected btn icon btn-primary"><i class="bi bi-pencil"></i>
            </a>
         <button type="button" onclick='insereTexto("{{filtro.id}}")' class="btn icon btn-danger" data-bs-toggle="modal"
              data-bs-target="#warning"><i class="bi bi-x"></i>
          </button>
          <!---<a  class="deleteFromMeta btn icon btn-danger" href="apagar-meta/{{meta.id}}"><i class="bi bi-x"></i></a></td>-->
        </tr>
        {% endfor %}
        
    </tbody>
</table>