<table id="myTable2" class="myTable2">
    <thead>
      <tr>
        <th>Escola</th>
        <th>Eixo</th>
        <th>Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody id="tabela_metas">
      {% for eixo in eixos %}

              <tr>
                <td>{{eixo.escola.escola}}</td>
                <td>{{eixo.nome}}</td>
                {% if eixo.status == "ATIVO" %}
                <td ><a  style="width: 100%;" class="btn btn-success btn-icon-split">
                  <span id="status{{info.id}}" class="text">{{eixo.status}}</span>
              </a></td>
                {% else %}
                <td><a   style="width: 100%;" class="btn btn-warning btn-icon-split text-dark">
                  <span  id="status{{info.id}}" class="text">{{eixo.status}}</span>
              </a></td>
                {% endif %}
                <td>
                  {% if eixo.status == "ATIVO" %}
                  <button
                    type="button"
                    onclick='desabilita_eixo("{{eixo.id}}","ATIVO")'
                    class="btn icon btn-dark"
                    
                  >
                  <i class="bi bi-lock"></i>
                  </button>
                {% else %}
                <button
                type="button"
                onclick='desabilita_eixo("{{eixo.id}}","INATIVO")'
                class="btn icon btn-dark"
                
              >
              <i class="bi bi-unlock-fill"></i>
              </button>
                {% endif %}
              </tr>
                    
      {% endfor %}
    </tbody>
  </table>