{% extends "index.html" %} 
{% load static %}
{% block content %} 
<style>
  body {
            overflow-x: hidden; /* Desativa o scroll horizontal */
        }
.spinner {
  animation: spin 1s linear infinite;
}

#spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* cor de fundo escuro */
  z-index: 9999;
}

#spinner-container {
  
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* FIM DO SPINER ACIMA*/
.modal-extra-wide .modal-dialog {
            max-width: 90%;
        }
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #000000;
    color: #fff;
}
  #myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

table {
  
text-align: left;
width: 100%;
align-items: center;
font-family: 'Open Sans', sans-serif;
border-collapse: collapse; /* Collapse borders */
  width:100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
}

table thead th {

padding: 10px;
font-size: 12px;
color: #000;
font-weight: 600;
}

table tbody tr td {

display: table-cell;
font-weight: 400;
padding: 12px;
color: #363636;
text-align: left;
position: relative;
}

table tbody tr {

border: 1px solid #cacaca;
display: table-row;
}

table tbody tr:nth-child(odd) {

background: #dddddd4a;
}

table tbody tr td button {

display: inline-block;
padding: 10px 15px;
position: initial;
transform: translate(0);
width: auto;
}

table tbody tr td button {

background: #4CAF50;
border: none;
border-radius: 20px;
box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
color: #fff;
font-weight: 700;;
padding: 10px 0;
width: 100%;
}

table thead {

display: table-header-group;
font-weight: 500;
}


table tbody tr td:before {

display: none;
}

table tbody tr td button:hover, table tbody tr td button:focus {

background: #0C504B;
color: #ffffff;
cursor: pointer;
}

@media all and (max-width: 800px) {

table tbody tr td {

    display: block;
    text-align: center;
}

table tbody tr td:before {

    content: attr(data-title);
    position: absolute;
    left: 15px;
    display: block;
    font-weight: 600;
    font-size: 1em;
}

table {

    border: none;
}

table thead {

    display: none;
}

table tbody tr {

    margin-bottom: 10px;
    display: block;
    border: 1px solid #dad6eb;
}

table button, btn_voltar{
      width: 100%;
      margin-bottom: 10px;
    }
};


#myTable2 {
  border-collapse: collapse; /* Collapse borders */
  width:100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */

}

#myTable2 th, #myTable2 td {
  text-align: center; /* Left-align text */
  padding: 10px; /* Add padding */
  overflow-wrap: break-word;
}

#myTable2 tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable2 tr.header, #myTable2 tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #00f36d6c;
}

@media screen and (max-width: 1280px) {
    .myTable2 {
        border: 0px;
    }
    .myTable2 caption {
        font-size: 22px;
    }
    .myTable2 thead {
        display: none;
    }
    .TamyTable2ble tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
        
    }
    .myTable2 th, .table td {
        font-size: 12px;
        
    }
    .myTable2 td {
        display: block;
        border-bottom: 1px solid #ddd;
        
        
    }
    .myTable2  td:last-child {
        border-bottom: 0px;
    }
    .myTable2 td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .myTable2 button, btn_voltar{
      width: 100%;
      margin-bottom: 10px;
    }
}

/*ESTILIZAÇÃO DOS CARDS*/
.cardBacklog {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 
}

/* On mouse-over, add a deeper shadow */
.cardcardBacklog:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containerBacklog {
  padding-top: 10px;
  margin: 0;
  text-align: center;
  background-color: #002EE3;
  color:#fff;

}

.containerBacklog h4{
  color: #fff;
}
    </style>
{% if 'ae' in permissoes.permission %}
<div class="page-heading">
  <h3>Retificar Edital</h3>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Retificação de Edital</h4>
  </div>

  <div class="card-body">
    <div class="column">
      <div>
        <form
          name="form_retifica"
          id="form_retifica"
          class="form-control"
          method="post"
          
          
        >
          {% csrf_token %}
         

          <div class="row">
            <div class="col-md-12 form-group">
              <label for="basicInput"><b>EDITAL</b>:</label>
              <select class="form-control" id="edital" name="edital">
                <option value="">------</option>
                
                {% for meta in editais %}

                <option value="{{meta.num_edital_id}}">{{meta.num_edital}} | {{meta.escola.escola}} | {{meta.tipo}} | {{meta.modalidade}} | {{meta.ano}}</option>
                <span id="idEdital">{{meta.num_edital_id}}</span>
                {% endfor %}
              </select>
            </div>
            </div>

            <div class="row" id="painel_edital">
              <div class="col-md-4 form-group">
                <label for="basicInput"><b>N° EDITAL:</b></label>
                <input readonly type="text" class="form-control" id="n_edital" name="n_edital">
              </div>
  
              <div class="col-md-6 form-group">
                <label for="basicInput"><b>ESCOLA:</b></label>
                <input disabled  type="text" class="form-control" id="escola" name="escola">
              </div>
  
              <div class="col-md-2 form-group">
                <label for="basicInput"><b>ANO:</b></label>
                <input  type="number" class="form-control" id="ano" name="ano">
              </div>
  
              <div class="col-md-6 form-group">
                <label for="basicInput"><b>DATA INICIAL DO EDITAL:</b></label>
                <input
                  type="date"
                  class="form-control"
                  id="data_ini_edit"
                  name="data_ini_edit"
                  required
  
                >
              </div>
  
              <div class="col-md-6 form-group">
                <label for="basicInput"><b>DATA FINAL DO EDITAL:</b></label>
                <input
                  type="date"
                  class="form-control"
                  id="data_fim_edit"
                  name="data_fim_edit"
                  required
  
                >
              </div>
  
              <div class="col-md-6 form-group">
                <label for="basicInput"><b>DATA INICIAL DE INSCRIÇÃO:</b></label>
                <input
                  type="date"
                  class="form-control"
                  id="data_ini_insc"
                  name="data_ini_insc"
                  required
  
                >
              </div>
  
              <div class="col-md-6 form-group">
                <label for="basicInput"><b>DATA FINAL DE INSCRIÇÃO:</b></label>
                <input
                  type="date"
                  class="form-control"
                  id="data_fim_insc"
                  name="data_fim_insc"
                  required
  
                >
              </div>
            </div>
          </div>

        <br>

        </form>
      </div>
    </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Turmas Relacionadas ao Edital 
      <span style="float: right;" >Saldo de Retificação: <span id="soma-cargas">0</span></span>
</h4>
    
  </div>

  <div class="card-body">
    <div class="row">
      <div class="cold-md-12" style="text-align: right;">
    
       </div>

       <div class="cold-md-12">
        <table id="myTable" class="myTable">
          <thead>
            <tr>
              <th scope="col">Escola</th>
              <th scope="col">Tipo</th>
              <th scope="col">Curso</th>
              <th scope="col">Turno</th>
              <th scope="col">Modalidade</th>
              <th scope="col">Vagas Totais</th>
              <th scope="col">Início/Fim</th>
              <th scope="col">Carga Horária</th>
              <th scope="col">Município</th>
              <th scope="col">Status</th>
              <th scope="col">Retificação</th>
          </tr>
       
          </thead>
          <tbody id="tbl_metas_editais">
            
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-3 form-group"></div>
    
           
          <div class="col-md-3 form-group">
           
          </div>
          <div class="col-md-3 form-group">
            <button  onclick="redefineRetificacao()" style="margin-top: 10px; float: right; width: 100%;" type="button" class="btn btn-danger">Redefinir Retificação</button>
          </div>
          <div class="col-md-3 form-group">
            <button  onclick="showModal()" style="margin-top: 10px; float: right; width: 100%;" type="button" class="btn btn-secondary">Adicionar Turmas</button>
          </div>
        
        </div>
        
        
   
      </div>
       
       
      </div>
      
    </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Edital e Turmas Retificadas
</h4>
    
  </div>

  <div class="card-body">
    <div class="row">
      <div class="cold-md-12" style="text-align: right;">
    
       </div>

       <div class="cold-md-12">
        <table id="myTable" class="myTable">
          <thead>
            <tr>
              <th scope="col">Escola</th>
              <th scope="col">Tipo</th>
              <th scope="col">Curso</th>
              <th scope="col">Turno</th>
              <th scope="col">Modalidade</th>
              <th scope="col">Vagas Totais</th>
              <th scope="col">Início/Fim</th>
              <th scope="col">Carga Horária</th>
              <th scope="col">Município</th>
              <th scope="col">Status</th>
              <th scope="col">Ação</th>
          </tr>
       
          </thead>
          <tbody id="tbl_turmas_retificadas">
            
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-3 form-group"></div>
    
           
        
          <div class="col-md-3 form-group">
         
          </div>
          <div class="col-md-3 form-group">
         
          </div>
          <div class="col-md-3 form-group">
            <button id="btnEnviaAprova" onclick="redefineRetificacao()" style="margin-top: 10px; float: right; width: 100%; display: none;" type="button" class="btn btn-success">Enviar P/ Aprovação</button>
          </div>
        </div>
        
        
   
      </div>
       
       
      </div>
      
    </div>
</div>

<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel" style="color:#000">Adicionar Turmas para Retificação do Edital</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form
        name="form_retifica_turma"
        id="form_retifica_turma"
        class="form-control"
        method="post"
        action="/ajax/retifica-turmas"
      >
        {% csrf_token %}
        <input style="display: none;" type="text" name="ano_edital" id="ano_edital">
        <input style="display: none;" type="text" name="editalOrigem" id="editalOrigem">
        <input style="display: none;" type="text" name="data_inicial_edital" id="data_inicial_edital">
        <input style="display: none;" type="text" name="data_fim_edital" id="data_fim_edital">
        <input style="display: none;" type="text" name="data_ini_inscricao" id="data_ini_inscricao">
        <input style="display: none;" type="text" name="data_fim_inscricao" id="data_fim_inscricao">


        <div class="row">
          <div class="col-md-12 form-group mb-0">
            <div class="cardBacklog">
              <div class="containerBacklog">
     
                <h4><b><span id="saldoDisponivel"></span></b></h4>
                <p>SALDO DISPONÍVEL</p>
                <input type="text" name="numeditalid" id="numeditalid" style="display: none;">
              </div>
            </div>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>DIRETORIA:</b></label>
            <select class="form-control" id="basicInput" name="basicInput" required>
              <option selected value="">---------</option>
              <option value="DAC">DAC</option>
              <option value="DDA">DDA</option>
              <option value="DE">DE</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>ESCOLA:</b></label>
            
            <input
            type="text"
            class="form-control"
            id="escola_modal"
            name="escola_modal"
            disabled
            
          >
          <input
          type="text"
          class="form-control"
          id="escola_id_modal"
          name="escola_id_modal"
          
          style="display: none;"
        >
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>MUNICÍPIO:</b></label>
                <input
                type="text"
                class="form-control"
                id="municipio_modal"
                name="municipio_modal"
                disabled
                
              >
              <input
              type="text"
              class="form-control"
              id="municiopio_id_modal"
              name="municiopio_id_modal"
 
              style="display: none;"
            >
          </div>
          
          <div class="col-md-4 form-group">
            <label for="basicInput"><b>TIPO DE CURSO:</b></label>
            <select required class="form-control" id="tipo" name="tipo"> 
              <option selected value="">---------</option>
              {% for tipo in tipos %}
              <option  value="{{tipo.id}}">{{tipo.tipo}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="eixo"><b>EIXOS:</b></label>
            <select required class="form-control" id="eixo" name="eixo"> 
              <option selected value="">---------</option>
              {% for eixo in eixos %}
              <option value="{{eixo.eixo_id}}">{{eixo.nome}}</option>
              {% endfor %}       
            </select>
          </div>


          <div class="col-md-4 form-group">
            <label for="basicInput"><b>MODALIDADE:</b></label>
            <select class="form-control" id="modalidade" name="modalidade" required>
              <option selected value="">---------</option>
              {% for modalidade in modalidades %}
              <option value="{{modalidade.id}}">{{modalidade.modalidade}}</option>
             {% endfor %}
            </select>
          </div>


          
          <div class="col-md-4 form-group">
            <label for="basicInput"><b>CURSO:</b></label>
            <select class="form-control" id="curso" name="curso" required>
              <option selected value="">---------</option>
              {% for curso in cursos %}
              <option value="{{curso.id}}">{{curso.curso}}</option>
              {% endfor %}         
            </select>
          </div>

        

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>TURNO:</b></label>
            <select class="form-control" id="turno" name="turno" required>
              <option selected value="">---------</option>
              <option value="VESPERTINO">VESPERTINO</option>
              <option value="MATUTINO">MATUTINO</option>
              <option value="NOTURNO">NOTURNO</option>
              <option value="INTEGRAL">INTEGRAL</option>
            </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>ANO:</b></label>
            <select class="form-control" id="ano" name="ano" required>
              <option selected value="">---------</option>
              <option value="2021">2021</option>  
              <option value="2022">2022</option> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option>  
            </select>
          </div>

            

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>SEMESTRE:</b></label>
              <select class="form-control" id="trimestre" name="trimestre" required>
                <option selected value="">---------</option>
                <option value="1">1º Semestre</option>  
                <option value="2">2º Semestre</option>  
              </select>
            </div>

            <div class="col-md-4 form-group" id="ajax_carga_horaria">
              <label for="basicInput"><b>CARGA HORÁRIA:</b></label>
              <input
                type="number"
                class="form-control"
                id="carga_horaria"
                name="carga_horaria"
                placeholder="Informe a carga horária:"
                min="1"
                value=""
                oninput="calcular()"
                required
              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>VAGAS TOTAIS:</b></label>
              <input
                type="number"
                class="form-control"
                id="vagas_totais"
                name="vagas_totais"
                placeholder="Informe a quantidade de vagas:"
                min="1"
                value=""
                oninput="calcular()"
                required
              >
            </div>

           

            <div class="col-md-4 form-group" id="cht_ajax">
              <label for="basicInput"><b>CARGA HORÁRIA TOTAL:</b></label>
              <input
                type="number"
                class="form-control"
                id="ch_total"
                name="ch_total"
                placeholder="Informe a carga horária:"
                min="1"
                value="0"
                readonly
                
              >

            </div>

            <div class="col-md-4 form-group" style="display: none;">
              <label for="basicInput"><b>Saldo Restante:</b></label>
              <input
                type="number"
                class="form-control"
                id="saldo_restante"
                name="saldo_restante"
                placeholder="Informe a carga horária:"
                min="1"
                value="0"
                readonly
                
              >

            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DATA PREVISTA PARA INÍCIO:</b></label>
              <input
                type="date"
                class="form-control"
                id="data_p_inicio"
                name="data_p_inicio"
                required

              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DATA PREVISTA PARA FINALIZAR:</b></label>
              <input
                type="date"
                class="form-control"
                id="data_p_fim"
                name="data_p_fim"
                required

              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>DIAS DA SEMANA:</b></label>
              <input
                type="text"
                class="form-control"
                id="dias_semana"
                name="dias_semana"
                required

              >
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>CURSO TÉCNICO:</b></label>
              <select class="form-control" id="curso_tecnico" name="curso_tecnico" required>
              <option selected="" value="">---------</option>
              <option value="Aprendizado De Máquina">Aprendizado De Máquina</option>  
              <option value="Técnico Em Desenvolvimento Web E Mobile">Técnico Em Desenvolvimento Web E Mobile</option>    
              <option value="Empresas Digitais">Empresas Digitais</option>  
              <option value="Marketing E Mídias Sociais">Marketing E Mídias Sociais</option>
              <option value="Econômia Criativa">Econômia Criativa</option>
              <option value="Capacitação Fora da Trilha">Capacitação Fora da Trilha</option>
            </select>
            </div>

            <div class="col-md-4 form-group">
              <label for="basicInput"><b>QUALIFICAÇÕES:</b></label>
              <select class="form-control" id="qualificacoes" name="qualificacoes" required>
               
             
            </select>
            </div>

            
            <div class="col-md-8 form-group">
              <label for="basicInput"><b>Origem da Retificação:</b></label>
              <select style="font-size: 12px;" class="form-control" id="origem_retificacao" name="origem_retificacao" required>
             
            </select>
            </div>
            
            <div class="col-md-4 form-group">
              <label for="basicInput"><b>  </b></label>
              <button onclick="adicionarTurma()"  type="button" class="btn btn-primary form-control">Adicionar Turma</button>
            </div>


        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  {% else %}
<div class="alert alert-danger" role="alert">
  :'( Desculpe, mas você não tem permissões para acessar esta funcionalidade do sistema!
</div>
{% endif %}
</div>





{% block javascript %}



<script>

function removerTurma(id){
  var url = 'ajax/remove-turmas-retificadas'

  Swal.fire({
  title: 'Remover Turma Retificada',
  text: 'Tem certeza de que deseja redefinir remover esta turma retificada?',
  icon: 'question',
  showCancelButton: true,
  confirmButtonText: 'Sim',
  cancelButtonText: 'Não'
}).then((result) => {
    if (result.isConfirmed) {
        // Ação a ser executada se o usuário confirmar
        // Por exemplo, você pode enviar uma solicitação AJAX aqui
        $.ajax({
            url: url,
            type: 'GET',
            data: { 'turma_id': id },
            success: function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Turma Retificada Removida!',
                text: 'A turma retificada foi removida com sucesso!!'
            }).then((result) => {
            // Ação a ser realizada após o botão "OK" ser clicado
            if (result.isConfirmed) {
                // Redirecionar ou atualizar a página aqui
                window.location.href = 'retificar-edital';
            }
        });              
        },
            error: function (xhr, textStatus, errorThrown) {
              Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Não foi possível remover a turma!'
                  });
            }
        });
    } 
});

}

function redefineRetificacao(){
  edital_selected = document.getElementById('edital').value
  var url = 'ajax/redefinir-retificacao'
  if (edital_selected){
    Swal.fire({
    title: 'Redefinir Retificação',
    text: 'Tem certeza de que deseja redefinir a retificação? Todas as turmas e o edital relacionado a este serão excluídos!',
    icon: 'question',
    showCancelButton: true,
    confirmButtonText: 'Sim',
    cancelButtonText: 'Não'
}).then((result) => {
    if (result.isConfirmed) {
        // Ação a ser executada se o usuário confirmar
        // Por exemplo, você pode enviar uma solicitação AJAX aqui
        $.ajax({
            url: url,
            type: 'GET',
            data: { 'editalId': edital_selected },
            success: function (data) {
              Swal.fire({
                    icon: 'success',
                    title: 'Retificação Redefinida!',
                    text: 'A retificação foi redefinida com sucesso!'
                  });
            },
            error: function (xhr, textStatus, errorThrown) {
              Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Não foi possível redefinir as retificações!'
                  });
            }
        });
    } 
});

  }else{
    Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Selecione um edital para redefinir a retificação!'
                  });
  }
}

function enviaFormRetificacao(){

const url = "/ajax/realiza-retificacao";
var form = document.getElementById("form_retifica_turma");
var formData = new FormData(form);  // Use FormData para incluir campos de arquivo

var XCSRFToken = '{{ csrf_token }}';
var formIsValid = true;



// Percorra todos os elementos obrigatórios do formulário
$("#form_retifica_turma [required]").each(function() {
    if (!$(this).val()) {
        console.log($(this))
        formIsValid = false;
        $(this).addClass("invalid-field");
    } else {

        $(this).removeClass("invalid-field");
    }
});

if (formIsValid) {
    $.ajax({
        url: url,
        type: "post",
        data: formData,  // Use formData aqui
        processData: false,  // Não processar dados
        contentType: false,  // Não definir tipo de conteúdo
        headers: { "X-CSRFToken": XCSRFToken },
        success: function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Turma Retificada!',
                text: 'A turma foi retificada com sucesso!'
            }).then((result) => {
            // Ação a ser realizada após o botão "OK" ser clicado
            if (result.isConfirmed) {
                // Redirecionar ou atualizar a página aqui
                window.location.href = 'retificar-edital';
            }
        });              
        },
        error: function (data) {
            if (data.responseJSON && data.responseJSON.error_message) {
                Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: data.responseJSON.error_message
                });
            }  
        }
    });
} else {
    Swal.fire({
        icon: 'error',
        title: 'Ops!',
        text: 'Por favor, preencha todos os campos obrigatórios.'
    });
    btnDesignar.disabled = false;
}
}


function adicionarTurma(){
  const url_edital = "/ajax/load-edital-exist";
  var saldoDisponivelRetificado = parseInt(document.getElementById('soma-cargas').innerText)
  var ch_total = parseInt(document.getElementById('ch_total').value)
  console.log(ch_total)

  $.ajax({
        url: url_edital,
        data: { 'edital_id': editalId},
        success: function (data) {
          if(data.saldo_disponivel == null){

            if (ch_total > saldoDisponivelRetificado ){
              Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Você não pode inserir uma turma com carga horária superior ao saldo disponível!'
                  });
            }else{
              enviaFormRetificacao()
            }

          }else{
            if (ch_total > data.saldo_disponivel ){
              Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Você não pode inserir uma turma com carga horária superior ao saldo disponível!'
                  });
            }else{
              enviaFormRetificacao()
            }
          }

        }
    });

}

const curso_tecnico = document.getElementById("curso_tecnico");
const qualificacoes = document.getElementById("qualificacoes");


curso_tecnico.addEventListener("change", function() {
  // Limpa as opções existentes no Select2
  qualificacoes.innerHTML = "";

  // Obtém o valor selecionado no Select1
  const cursoSelecionado = curso_tecnico.value;

  // Define as opções do Select2 com base no curso selecionado
  if (cursoSelecionado === "Aprendizado De Máquina") {
    const option1 = document.createElement("option");
    option1.value = "";
    option1.textContent = "";
    qualificacoes.appendChild(option1);

    const option2 = document.createElement("option");
    option2.value = "Fundamentos de Aprendizado de Máquina";
    option2.textContent = "Fundamentos de Aprendizado de Máquina";
    qualificacoes.appendChild(option2);

    const option3 = document.createElement("option");
    option3.value = "Tratamento e Análise de Dados";
    option3.textContent = "Tratamento e Análise de Dados";
    qualificacoes.appendChild(option3);

    const option4 = document.createElement("option");
    option4.value = "Reconhecimento de Padrões";
    option4.textContent = "Reconhecimento de Padrões";
    qualificacoes.appendChild(option4);

    const option5 = document.createElement("option");
    option5.value = "Aprendizado Profundo";
    option5.textContent = "Aprendizado Profundo";
    qualificacoes.appendChild(option5);

    const option6 = document.createElement("option");
    option6.value = "Aplicações de Aprendizagem de Máquina";
    option6.textContent = "Aplicações de Aprendizagem de Máquina";
    qualificacoes.appendChild(option6);

  } else if (cursoSelecionado === "Técnico Em Desenvolvimento Web E Mobile") {
    const option1 = document.createElement("option");
    option1.value = "";
    option1.textContent = "";
    qualificacoes.appendChild(option1);

    const option2 = document.createElement("option");
    option2.value = "Programação de Computadores";
    option2.textContent = "Programação de Computadores";
    qualificacoes.appendChild(option2);

    const option3 = document.createElement("option");
    option3.value = "Desenvolvimento Web Front-End";
    option3.textContent = "Desenvolvimento Web Front-End";
    qualificacoes.appendChild(option3);

    const option4 = document.createElement("option");
    option4.value = "Desenvolvimento Web Back-End";
    option4.textContent = "Desenvolvimento Web Back-End";
    qualificacoes.appendChild(option4);

    const option5 = document.createElement("option");
    option5.value = "Auxiliar de Análise e Processo de Software";
    option5.textContent = "Auxiliar de Análise e Processo de Software";
    qualificacoes.appendChild(option5);

    const option6 = document.createElement("option");
    option6.value = "Desenvolvimento Mobile";
    option6.textContent = "Desenvolvimento Mobile";
    qualificacoes.appendChild(option6);

  } else if (cursoSelecionado === "Empresas Digitais") {
    const option1 = document.createElement("option");
    option1.value = "";
    option1.textContent = "";
    qualificacoes.appendChild(option1);

    const option2 = document.createElement("option");
    option2.value = "E-commerce";
    option2.textContent = "E-commerce";
    qualificacoes.appendChild(option2);

    const option3 = document.createElement("option");
    option3.value = "Tecnologias e Inovação para Start ups";
    option3.textContent = "Tecnologias e Inovação para Start ups";
    qualificacoes.appendChild(option3);

    const option4 = document.createElement("option");
    option4.value = "Gestão do Negócio e Criação de Valor";
    option4.textContent = "Gestão do Negócio e Criação de Valor";
    qualificacoes.appendChild(option4);

    const option5 = document.createElement("option");
    option5.value = "Competências Empreendedoras";
    option5.textContent = "Competências Empreendedoras";
    qualificacoes.appendChild(option5);

    const option6 = document.createElement("option");
    option6.value = "Marketing Digital";
    option6.textContent = "Marketing Digital";
    qualificacoes.appendChild(option6);

  
  } else if (cursoSelecionado === "Marketing E Mídias Sociais") {
    const option1 = document.createElement("option");
    option1.value = "";
    option1.textContent = "";
    qualificacoes.appendChild(option1);

    const option2 = document.createElement("option");
    option2.value = "E-commerce";
    option2.textContent = "E-commerce";
    qualificacoes.appendChild(option2);

    const option3 = document.createElement("option");
    option3.value = "Mídias Sociais";
    option3.textContent = "Mídias Sociais";
    qualificacoes.appendChild(option3);

    const option4 = document.createElement("option");
    option4.value = "Experiência do Usuário/Consumidor (UX)";
    option4.textContent = "Experiência do Usuário/Consumidor (UX)";
    qualificacoes.appendChild(option4);

    const option5 = document.createElement("option");
    option5.value = "Criação de Conteúdo Digital";
    option5.textContent = "Criação de Conteúdo Digital";
    qualificacoes.appendChild(option5);

    const option6 = document.createElement("option");
    option6.value = "Assistente em Marketing";
    option6.textContent = "Assistente em Marketing";
    qualificacoes.appendChild(option6);
    
  } else if (cursoSelecionado === "Econômia Criativa") {
    const option1 = document.createElement("option");
    option1.value = "";
    option1.textContent = "";
    qualificacoes.appendChild(option1);

    const option2 = document.createElement("option");
    option2.value = "Empreendedorismo Criativo";
    option2.textContent = "Empreendedorismo Criativo";
    qualificacoes.appendChild(option2);

    const option3 = document.createElement("option");
    option3.value = "Serviços Criativos Especializados";
    option3.textContent = "Serviços Criativos Especializados";
    qualificacoes.appendChild(option3);

    const option4 = document.createElement("option");
    option4.value = "Produtos Criativos Especializados";
    option4.textContent = "Produtos Criativos Especializados";
    qualificacoes.appendChild(option4);

    const option5 = document.createElement("option");
    option5.value = "Economia Circular";
    option5.textContent = "Economia Circular";
    qualificacoes.appendChild(option5);

    const option6 = document.createElement("option");
    option6.value = "Tecnologias 4.0 e 5.0";
    option6.textContent = "Tecnologias 4.0 e 5.0";
    qualificacoes.appendChild(option6);

    
  
  }else if (cursoSelecionado === "Capacitação Fora da Trilha") {
const option1 = document.createElement("option");
  option1.value = "";
  option1.textContent = "";
  if(qualificacao_view == ""){
    option1.selected = true;
  }
  qualificacoes.appendChild(option1);

  const option2 = document.createElement("option");
  option2.value = "Capacitação Fora da Trilha";
  option2.textContent = "Capacitação Fora da Trilha";
  if(qualificacao_view == "Capacitação Fora da Trilha"){
    option2.selected = true;
  }
  qualificacoes.appendChild(option2);

}
});

function calcular() {
    var saldo_disponivel = parseInt(document.getElementById("saldoDisponivel").innerText);
    var n1 = parseInt(document.getElementById("carga_horaria").value, 10);
    var n2 = parseInt(document.getElementById("vagas_totais").value, 10);
    var resultado = n1 * n2;
    document.getElementById("ch_total").value = parseInt(resultado);
    var saldo_restante = saldo_disponivel - parseInt(resultado)
    document.getElementById('saldo_restante').value = saldo_restante

}

$("#tipo").change(function () {

const url = "/ajax/ajax_load_cht";
const url_cursos = "/ajax/ajax_load_cursos";
const url_ch = '/ajax/ajax_load_carga_hr_curso'

tipo_curso = $(this).val();
escola = document.getElementById('escola_id_modal').value
ano = document.getElementById('ano').value
modalidade = document.getElementById('modalidade').value

eixo = document.getElementById('eixo').value
semestre = document.getElementById('trimestre').value

var curso_selected = $('#curso option:selected').text()

$.ajax({
    url: url_cursos,
    data: { 'escola_id': escola, 'tipo_id': tipo_curso, 'eixo_id': eixo, 'modalidade_id': modalidade },
    success: function (data) {
        $("#curso").html(data);

    }
});
});

$("#modalidade").change(function () {

const url = "/ajax/ajax_load_cht";
const url_cursos = "/ajax/ajax_load_cursos";

modalidade = $(this).val();
eixo = document.getElementById('eixo').value
escola = document.getElementById('escola_id_modal').value
console.log(escola)
tipo_curso = document.getElementById('tipo').value
ano = document.getElementById('ano').value
semestre = document.getElementById('trimestre').value

console.log(eixo)
$.ajax({
    url: url_cursos,
    data: { 'escola_id': escola, 'tipo_id': tipo_curso, 'eixo_id': eixo, 'modalidade_id': modalidade, 'ano': ano },
    success: function (data) {
        $("#curso").html(data);

    }
});

});

$("#eixo").change(function () {
    const url_cursos = "/ajax/ajax_load_cursos";

    eixo = $(this).val();
    tipo_curso = document.getElementById('tipo').value
    modalidade = document.getElementById('modalidade').value
    escola = document.getElementById('escola_id_modal').value
    tipo_curso = document.getElementById('tipo').value
    ano = document.getElementById('ano').value
    semestre = document.getElementById('trimestre').value

    $.ajax({
        url: url_cursos,
        data: { 'escola_id': escola, 'tipo_id': tipo_curso, 'eixo_id': eixo, 'modalidade_id': modalidade, 'ano': ano },
        success: function (data) {
            $("#curso").html(data);

        }
    });

});

function showModal(){

  var m_edital = document.getElementById('edital').value
  var m_ano = document.getElementById('ano').value
  var m_data_inicial_edital = document.getElementById('data_ini_edit').value
  var m_data_fim_edital = document.getElementById('data_fim_edit').value
  var m_data_inicial_inscricao = document.getElementById('data_ini_insc').value
  var m_data_final_inscricao = document.getElementById('data_fim_insc').value

  document.getElementById('ano_edital').value = m_ano
  document.getElementById('editalOrigem').value = m_edital
  document.getElementById('data_inicial_edital').value = m_data_inicial_edital
  document.getElementById('data_fim_edital').value = m_data_fim_edital
  document.getElementById('data_ini_inscricao').value = m_data_inicial_inscricao
  document.getElementById('data_fim_inscricao').value = m_data_final_inscricao


  var saldoDisponivelRetificado = document.getElementById('soma-cargas').innerText
  if (saldoDisponivelRetificado == "0"){
    Swal.fire({
                    icon: 'error',
                    title: 'Ops!',
                    text: 'Por favor, selecione pelo menos uma turma para retificação!'
                  });
  }else{
    const load_turmas = "/ajax/load-turmas-por-edital";
    const url_edital = "/ajax/load-edital-exist";

    editalId = document.getElementById('editalid').value


    $.ajax({
        url: load_turmas,
        data: { 'edital_id': editalId},
        success: function (data) {
           
            $("#origem_retificacao").html(data);

        }
    });

    $.ajax({
        url: url_edital,
        data: { 'edital_id': editalId},
        success: function (data) {
          console.log(data)
            if(data.saldo_disponivel == null){
              var saldoDisponivel  = document.getElementById('saldoDisponivel').innerText = saldoDisponivelRetificado
              document.getElementById('numeditalid').value = editalId
              var escolaId = document.getElementById('escola_id').value
              var municipioId = document.getElementById('municipio_id').value

              var escola = document.getElementById('escola_text').value
              var municipio = document.getElementById('municipio_text').value

              const selectElement = document.getElementById('escola_id_modal');
              const escolaInput = document.getElementById('escola_modal')
              const municipio_modal = document.getElementById('municipio_modal')

              const municipio_id = document .getElementById('municiopio_id_modal')

              selectElement.value = escolaId;
              escolaInput.value = escola
              municipio_modal.value = municipio
              municipio_id.value = municipioId
            }else{
              var saldoDisponivel  = document.getElementById('saldoDisponivel').innerText = data.saldo_disponivel
              
              var escolaId = document.getElementById('escola_id').value
              var municipioId = document.getElementById('municipio_id').value

              var escola = document.getElementById('escola_text').value
              var municipio = document.getElementById('municipio_text').value

              const selectElement = document.getElementById('escola_id_modal');
              const escolaInput = document.getElementById('escola_modal')
              const municipio_modal = document.getElementById('municipio_modal')

              const municipio_id = document .getElementById('municiopio_id_modal')

              selectElement.value = escolaId;
              escolaInput.value = escola
              municipio_modal.value = municipio
              municipio_id.value = municipioId
            }
              

        }
    });
    

    $("#ExemploModalCentralizado").modal('show')
  }
  
}


function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tabela_metas");
 
    /* Declaring array variable */
    var rows =[];
    header = ['N° Edital,Escola,Tipo,Ano,Data Inicial do Edital,Data Final do Edital,Data Inicial da Inscrição,Data Final da Inscrição,Status']
    rows.push(header)
    //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[5].innerText;
        column7 = row.cells[6].innerText;
        column8 = row.cells[7].innerText;
        column9 = row.cells[8].innerText;
       
  
        
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9

            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Editais.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
  }


  $("#edital").change(function(){
    const url = "/ajax/ajax-load-turmas-v2";
    var url_turmas = "/ajax/ajax-load-turmas-edital";
    var url_turmas_retificadas = "/ajax/ajax-load-turmas-retificadas"
    edital_id = document.getElementById('edital').value

    $.ajax({
          url : url,
          data: {'id': edital_id,},
          success: function(data){
              $("#painel_edital").html(data);
              $("#aprovar").show();
              $("#reprovar").show();
          }
      });

      $.ajax({
          url : url_turmas,
          data: {'editalId': edital_id,},
          success: function(data){
              $("#tbl_metas_editais").html(data);

          }
      });

      $.ajax({
          url : url_turmas_retificadas,
          data: {'editalId': edital_id,},
          success: function(data){
              $("#tbl_turmas_retificadas").html(data);
              var botao = document.getElementById("btnEnviaAprova");
              botao.style.display = "block";
          }
      });

 
  })

  function cancela_edital()
    {
      var edital_value = $( "#edital option:selected" ).text();
      var edital_id = document.getElementById('edital').value

      document.getElementById('id_edital_modal').value = edital_id
      document.getElementById('dados_edital').innerHTML = edital_value

      }

</script>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% endblock content %}