{% comment %} {% extends "index.html" %} {% endcomment %}
<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% if 'use_i18n'|bootstrap_setting %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
{% endif %}
{% load bootstrap_icons %}
{% load fontawesome_5 %}
{% load l10n %}
<html lang="{{ LANGUAGE_CODE|default:'pt_br' }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard - Home</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
              rel="stylesheet" />
        {{ form.media.css }}
        {% bootstrap_css %}
        <link rel="stylesheet" href={% static "assets/css/bootstrap.css" %} />
        <link rel="stylesheet" href={% static "assets/vendors/iconly/bold.css" %} />
        <link rel="stylesheet" href="{% static "assets/vendors/perfect-scrollbar/perfect-scrollbar.css" %}" />
        <link rel="stylesheet" href="{% static "assets/vendors/bootstrap-icons/bootstrap-icons.css" %}" />
        <link rel="stylesheet" href={% static "assets/css/app.css" %} />
        <link rel="stylesheet" href="{% static "assets/extensions/simple-datatables/style.css" %}" />
        <link rel="stylesheet" href="{% static "assets/css/pages/simple-datatables.css" %}" />
        {% fontawesome_5_static %}
        {% load crispy_forms_tags %}
    </head>
    <body style='overflow:hidden'>
        <div class="d-md-flex gap-sm-4">
            <div class="card col">
                <form method="get" class="card-body">
                    {% if filter %}
                        {% crispy filter.form filter.form.helper %}
                    {% endif %}
                </form>
            </div>
            <div class="card col">
                <form class="card-body">
                    <h4 class="d-flex justify-content-between card-title form-control">
                        <spam> VAGAS TOTAIS </spam>
                        <spam> {{ filter.vagas_totais_sum|floatformat:"0g" }} </spam>
                    </h4>
                    <h4 class="d-flex justify-content-between card-title form-control">
                        <spam> CARGA HORÁRIA TOTAL </spam>
                        <spam> {{ filter.carga_horaria_total_sum|floatformat:"0g" }} </spam>
                    </h4>
                    <h4 class="d-flex justify-content-between card-title form-control">
                        <spam> RECURSO PLANEJADO </spam>
                        <spam> R$ {{ filter.recurso_planejado_sum|floatformat:"2g" }} </spam>
                    </h4>
                    <h4 class="d-flex justify-content-between card-title form-control">
                        <spam> CRAGA HORÁRIA DISPONPIVEL </spam>
                        <spam> {{ filter.saldo_de_horas_sum|floatformat:"0g" }} </spam>
                    </h4>
                </form>
            </div>
        </div>
    </body>
    <script src="{% static "assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js" %}"></script>
    <!-- <script src={% static "assets/js/bootstrap.bundle.min.js" %}></script> -->
    <script src={% static "assets/vendors/apexcharts/apexcharts.js" %}></script>
    <script src={% static "assets/js/pages/dashboard.js" %}></script>
    <script src="{% static "assets/extensions/simple-datatables/umd/simple-datatables.js" %}"></script>
    <script src={% static "assets/js/pages/simple-datatables.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>
    <!-- <script src={% static "assets/js/bootstrap.js" %}></script> -->
    <script src={% static "assets/js/app.js" %}></script>
    <script src={% static "assets/js/apagar_meta.js" %}></script>
    {% bootstrap_javascript %}
</html>
