{% extends "index.html" %} {% block content %} {% load static %}
<style>
    .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #000000}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
  #myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}



#myTable {
  border-collapse: collapse; /* Collapse borders */
  width:100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */

}

#myTable th, #myTable td {
  text-align: center; /* Left-align text */
  padding: 10px; /* Add padding */
  overflow-wrap: break-word;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #00f36d6c;
}

@media screen and (max-width: 1280px) {
    .myTable {
        border: 0px;
    }
    .myTable caption {
        font-size: 22px;
    }
    .myTable thead {
        display: none;
    }
    .TamyTableble tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
        
    }
    .myTable th, .table td {
        font-size: 12px;
        
    }
    .myTable td {
        display: block;
        border-bottom: 1px solid #ddd;
        
        
    }
    .myTable  td:last-child {
        border-bottom: 0px;
    }
    .myTable td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
    .myTable button, btn_voltar{
      width: 100%;
      margin-bottom: 10px;
    }
}
    </style>
{% if 'ims' in permissoes.permission %}
<div class="page-heading">
  <h3>Cadastrar Metas do Sintéticas - EFG</h3>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Inserir metas de ensino do convênio</h4>
  </div>

  <div class="card-body">
    <div class="column">
      <div>
        <form
          name="Form"
          id="Form"
          class="form-control"
          method="post"
          action="/cadmetas-sintetica"
        >
          {% csrf_token %} {% if messages %} {% for message in messages %}
          <div class="alert alert-dismissible alert-success" role="alert">
            <strong class="text-dark">{{message}}</strong>
          </div>
          {% endfor %} {% endif %}

          <div class="row">
            <div class="col-md-6 form-group">
              <label for="basicInput">DIRETORIA:</label>
              <select class="form-control" id="basicInput" name="basicInput">
                <option value="DAC">DAC</option>
                <option value="DDA">DDA</option>
                <option value="DE">DE</option>
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">Escola:</label>
              <select class="form-control" id="escola" name="escola">
                {% for escola in escolas %}
                <option value="{{escola.id}}">{{escola.escola}}</option>
                {% endfor %}            
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">MODALIDADE:</label>
              <select class="form-control" id="modalidade" name="modalidade">
                {% for modalidade in modalidades %}
                <option value="{{modalidade.id}}">{{modalidade.modalidade}}</option>
                {% endfor %}     
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">ANO:</label>
              <input
                type="number"
                class="form-control"
                id="ano"
                name="ano"
                max="2999"
                maxlength="4"
                min="2022"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">TIPO DE CURSO:</label>
              <select class="form-control" id="tipo" name="tipo">
                {% for tipo_curso in tipos_curso %}
                <option value="{{tipo_curso.id}}">{{tipo_curso.tipo}}</option>
                {% endfor %}     
              </select>
            </div>
            <div class="col-md-6 form-group">
              <label for="basicInput">DESCRIÇÃO:</label>
              <select class="form-control" id="descricao" name="descricao">
                {% for descricao in descricoes %}
                <option value="{{descricao.id}}">{{descricao.descricao}}</option>
                {% endfor %}     
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">CARGA HORÁRIA OFERTADA:</label>
              <input
                type="number"
                class="form-control"
                id="ch_ofertada"
                name="ch_ofertada"
                oninput="calcular()"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">VAGAS:</label>
              <input
                type="number"
                class="form-control"
                id="vagas"
                name="vagas"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">REPASSE:</label>
              <input
                type="number"
                class="form-control"
                id="repasse"
                name="repasse"
                oninput="calcular()"
                step = "0.01"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">VALOR UNITÁRIO:</label>
              <input
                type="text"
                class="form-control"
                id="valor_unitario"
                name="valor_unitario"
                value="0"
                readonly
              />
            </div>
          </div>

          <div class="form-group" style="width: 100%; text-align: right">
            <a href="/" id="btn_voltar" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-success">Inserir Metas</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<section class="section">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Metas Adicionadas</h4>


     
    </div>

    <div class="card-body"  style="overflow-x:auto;">
      <table id="myTable" class="myTable" style="overflow-x:auto;">
        <thead>
       
            <th>Diretoria</th>
            <th>Escola</th>
            <th>Ano</th>
            <th>Modalidade</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Carga Horária</th>
            <th>Vagas</th>
            <th>Repasse</th>
            <th>Valor Unitário</th>
            <th>Ação</th>
     
        </thead>
        <tbody id="tabela_metas" >
          {% for meta in meta_sinteticas %}

                  <tr>
                    <td id="diretoria{{meta.id}}">{{meta.diretoria}}</td>
                    <td id="escola{{meta.id}}"><span style="display: none;" id="escola_id{{meta.id}}">{{meta.escola.id}}</span>{{meta.escola.escola}}</td>
                    <td id="ano{{meta.id}}">{{meta.ano}}</td>
                    <td id="modalidade{{meta.id}}"><span style="display: none;" id="modalidade_id{{meta.id}}">{{meta.modalidade.id}}</span>{{meta.modalidade.modalidade}}</td>
                    <td id="descricao{{meta.id}}"><span style="display: none;" id="descricao_id{{meta.id}}">{{meta.descricao.id}}</span>{{meta.descricao.descricao}}</td>
                    <td style="display: none;" id="categoria_id{{meta.id}}">{{meta.categoria.id}}</td>
                    <td id="categoria{{meta.id}}">{{meta.categoria.tipo}}</td>
                    <td id="ch_ofertada{{meta.id}}">{{meta.ch_ofertada}}</td>
                    <td id="vagas{{meta.id}}">{{meta.vagas}}</td>
                    <td id="repasse{{meta.id}}">{{meta.repasse}}</td>
                    <td id="valor_unitario{{meta.id}}">{{meta.valor_unitario}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="dropbtn btn icon btn-dark"><i class="fas fa-ellipsis-v"></i></button>
                        <div class="dropdown-content">
                          <a type="button" onclick='atualiza("{{meta.id}}")' class="btn icon btn-primary changeSelected" data-bs-toggle="modal" data-bs-target="#xlarge">
                            <i class="bi bi-pencil"> EDITAR</i>
                          </a>
                          
                          <a type="button"
                          onclick='insereTexto("{{meta.id}}")'
                          class="btn icon btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#warning"><i class="bi bi-trash"> EXCLUIR</i> </a>
                        
                        </div>
                      </div>

                    
                     
                      <!---<a  class="deleteFromMeta btn icon btn-danger" href="apagar-meta/{{meta.id}}"><i class="bi bi-x"></i></a></td>-->
                    </td>
                  </tr>
                        
          {% endfor %}
          <div class="row" >
          <div class="col-md-10 form-group" >
            <select class="form-control" id="myInput" name="myInput" onchange="search_escola()" style="background-color: rgba(0, 97, 36, 0.922); color: #fff;">
              <option value="TODOS">TODOS</option>
              {% for escola in escolas %}
              <option value="{{escola.id}}">{{escola.escola}}</option>
              {% endfor %}            
            </select>
          </div>

          <div class="col-md-2 form-group" >
            <button onclick="exportData()" style="width:100%;height: 100%;">
              <span class="fa fa-download"></span>
              Exportar CSV</button>
            </div>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% else %}
<div class="alert alert-danger" role="alert">
  :'( Desculpe, mas você não tem permissões para acessar esta funcionalidade do sistema!
</div>
{% endif %}
<div
  class="modal fade text-left"
  id="warning"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel140"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title white" id="myModalLabel140">
          Confirma a exclusão da meta?
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>

      <div class="modal-body">Ao confirmar, a meta será excluida.</div>
      <div class="modal-footer">
        <form
          name="Form"
          id="Form"
          method="POST"
          action="/apagar-meta-sintetica"
        >
          {% csrf_token %}
          <div style="display: none">
            <input type="text" id="id_deleta" name="id_deleta" />
          </div>
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Fechar</span>
          </button>
          <button class="btn btn-danger ml-1" type="submit">
            Confirmar Exclusão
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade text-left w-100"
  id="xlarge"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel16"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel16">Editar Dados</h4>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <div class="modal-body">
        <form
          name="Form"
          id="form_update"
          class="form-control"
          method="post"
          action="/editar-metas-sintetica"
        >
          {% csrf_token %}

          <input
            type="Text"
            class="form-control"
            id="id_edit"
            name="id_edit"
            placeholder="Informe a escola:"
            style="display: none;"
          />

          <div class="row">
            <div class="col-md-6 form-group">
              <label for="basicInput">DIRETORIA:</label>
            
              <select
                class="form-control"
                id="basicInputModal2"
                name="basicInputModal2"
              >
                <option value="DAC">DAC</option>
                <option value="DDA">DDA</option>
                <option value="DE">DE</option>
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">Escola:</label>
              <select class="form-control" id="escola2" name="escola2">
                {% for escola in escolas %}
                <option value="{{escola.id}}">{{escola.escola}}</option>
                {% endfor %}            
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">MODALIDADE:</label>
              <select class="form-control" id="modalidade2" name="modalidade2">
                {% for modalidade in modalidades %}
                <option value="{{modalidade.id}}">{{modalidade.modalidade}}</option>
                {% endfor %}     
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">ANO:</label>
              <input
                type="number"
                class="form-control"
                id="ano2"
                name="ano2"
                placeholder="Informe a descrição:"
                max="2999"
                maxlength="4"
                min="2021"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">TIPO DE CURSO:</label>
              <select class="form-control" id="tipo2" name="tipo2">
                {% for tipo_curso in tipos_curso %}
                <option value="{{tipo_curso.id}}">{{tipo_curso.tipo}}</option>
                {% endfor %}     
              </select>
            </div>
            <div class="col-md-6 form-group">
              <label for="basicInput">DESCRÇÃO:</label>
              <select class="form-control" id="descricao2" name="descricao2">
                {% for descricao in descricoes %}
                <option value="{{descricao.id}}">{{descricao.descricao}}</option>
                {% endfor %}     
              </select>
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">CARGA HORÁRIA OFERTADA:</label>
              <input
                type="number"
                class="form-control"
                id="ch_ofertada2"
                name="ch_ofertada2"
                placeholder="Informe a Carga Horária"
                oninput="calcular2()"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">VAGAS:</label>
              <input
                type="number"
                class="form-control"
                id="vagas2"
                name="vagas2"
                placeholder="Informe a quantidade de vagas."
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">REPASSE:</label>
              <input
                type="text"
                class="form-control"
                id="repasse2"
                name="repasse2"
                placeholder="Informe o valor de repasse."
                oninput="calcular2()"
              />
            </div>

            <div class="col-md-6 form-group">
              <label for="basicInput">VALOR UNITÁRIO:</label>
              <input
                type="text"
                class="form-control"
                id="valor_unitario2"
                name="valor_unitario2"
                placeholder="Informe o valor unitário"
        
              />
            </div>
          </div>

          <div class="form-group" style="width: 100%; text-align: right">
          <a data-bs-dismiss="modal"  class="btn btn-light-secondary">Fechar</a> <button type="submit" class="btn btn-success">Atualizar Metas</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>
{% block javascript %}
<script>
   function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tabela_metas");
 
    /* Declaring array variable */
    var rows =[];
    header = ['Diretoria,Escola,Ano,Modalidade,Descrição,Categoria,Carga Horária,Vagas,Repasse,Valor Unitário']
    rows.push(header)
    //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column6 = row.cells[6].innerText;
        column7 = row.cells[7].innerText;
        column8 = row.cells[8].innerText;
        column9 = row.cells[9].innerText;
        column10 = row.cells[10].innerText;
  
        
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5,
                column6,
                column7,
                column8,
                column9,
                column10

            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Metas_Sinteticas.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}


  function insereTexto(id) {
    console.log(id,"lblaldskalskdaldksal")
    document.getElementById("id_deleta").value = id;
  }

  function atualiza(id) {
    let diretoria = document.getElementById("diretoria"+id).innerHTML
    let descricao = document.getElementById("descricao_id"+id).innerHTML
    let escola = document.getElementById("escola_id"+id).innerHTML
    let modalidade = document.getElementById("modalidade_id"+id).innerHTML
    let ano = document.getElementById("ano"+id).innerHTML
    let categoria = document.getElementById("categoria_id"+id).innerHTML
    let ch_ofertada = document.getElementById("ch_ofertada"+id).innerHTML
    let vagas = document.getElementById("vagas"+id).innerHTML
    let repasse = document.getElementById("repasse"+id).innerHTML
    let valor_unitario = document.getElementById("valor_unitario"+id).innerHTML

    document.getElementById("id_edit").value = id;
    $('#basicInputModal2').val(diretoria.trim()).change();
    $('#escola2').val(escola.trim()).change();
    $('#modalidade2').val(modalidade.trim()).change();
    document.getElementById("descricao2").value = descricao;
    document.getElementById("ano2").value = ano;
    $('#tipo2').val(categoria.trim()).change();
    document.getElementById("ch_ofertada2").value = ch_ofertada;
    document.getElementById("vagas2").value = vagas;
    document.getElementById("repasse2").value = repasse;
    document.getElementById("valor_unitario2").value = valor_unitario;


    
  }
</script>

<script>

function search_escola() {
    
    filter_escola = $('#myInput option:selected').text();
    console.log(filter_escola)
    let rows = $("#tabela_metas tr")
    console.log(rows)

    if(filter_escola === "TODOS"){
      rows.show();
    }else{
    rows.filter(function () {
        let valueEscola = $(this).children("td").eq(1).text()
        str = valueEscola.replace(/[0-9]/g, '')
        
        let showRowEscola = true
        if (filter_escola) {
          let comparisonEscola = str.toUpperCase().trim() == filter_escola.toUpperCase().trim()
          showRowEscola &= comparisonEscola
        }

        

        if (showRowEscola) $(this).show()
        else $(this).hide() 
      });
    }
  }
  
  </script>

<script>
 
  function calcular() {
    var n1 = parseInt(document.getElementById("repasse").value, 10);
    var n2 = parseInt(document.getElementById("ch_ofertada").value, 10);
    var resultado = n1 / n2;
    document.getElementById("valor_unitario").value = resultado.toFixed(2);
  }
</script>

<script>
  function calcular2() {
    var n1 = parseInt(document.getElementById("repasse2").value,10);
    var n2 = parseInt(document.getElementById("ch_ofertada2").value,10);
    var resultado = n1 / n2;
    document.getElementById("valor_unitario2").value = resultado.toFixed(2);
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% endblock content %}
