{% extends "index.html" %} {% block content %}
{% load static %}

<style>
  #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */

}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>
<div class="page-heading">
  <h3>Cadastrar Metas Analíticas - EFG</h3>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Inserir metas de ensino do convênio</h4>
  </div>

  <div class="card-body">
    <div class="column">
      
      <div>
        <form
        name="Form"
        id="Form"
        class="form-control"
        method="post"
        action="/editarmetas"
      >

        {% csrf_token %}
        <input style="display: none;" type="text" id="id" name="id" value="{{idEdit}}">
        {% if messages %}

          {% for message in messages %}
          {% if message.tags == 'alert-success'  %}
            <div class="alert alert-dismissible alert-success" role="alert">
                <strong class="text-dark">{{message}}</strong>
            </div>
          {% else %}
          <div class="alert alert-dismissible alert-danger" role="alert">
            <strong class="text-dark">{{message}}</strong>
        </div>
          {% endif %}
          {% endfor %}
        {% endif %}

        <div class="row">
        <div class="col-md-4 form-group">
          <label for="basicInput"><b>DIRETORIA:</b></label>
          <select class="form-control" id="diretoria" name="diretoria" required>
            <option selected value="">---------</option>
            <option {% if diretoria == "DAC" %} selected {% endif %} value="DAC">DAC</option>
            <option {% if diretoria == "DDA" %} selected {% endif %} value="DDA">DDA</option>
            <option {% if diretoria == "DE" %} selected {% endif %} value="DE">DE</option>
          </select>
        </div>

        <div class="col-md-4 form-group">
          <label for="basicInput"><b>ESCOLA:</b></label>
          
          <select class="form-control" id="escola" name="escola" required>
            <option selected value="">---------</option>
            {% for escola in escolas %}
            <option {% if escola.id == idEscola %} selected {% endif %} value="{{escola.id}}">{{escola.escola}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4 form-group">
          <label for="basicInput"><b>MUNICÍPIO:</b></label>
          <select class="form-control" id="municipio" name="municipio" required>
            <option selected value="">---------</option>
            {% for municipio in municipios %}
            <option {% if municipio.id == idMunicipio %} selected {% endif %} value="{{municipio.id}}">{{municipio.municipio}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4 form-group">
          <label for="basicInput"><b>TIPO DE CURSO:</b></label>
          <select class="form-control" id="tipo" name="tipo"> 
            <option selected value="">---------</option>
            {% for tipo in tipos_cursos %}
            <option {% if tipo.id ==  tipoCursos %} selected {% endif %}  value="{{tipo.id}}">{{tipo.tipo}}</option>
            {% endfor %}
          </select>
        </div>
       
        <div class="col-md-4 form-group">
          <label for="basicInput"><b>EIXOS:</b></label>
          <select class="form-control" id="eixo" name="eixo" required>
            <option selected value="">---------</option>
            {% for eixo in eixos %}
            <option {% if eixo.eixo_id ==  idEixos %} selected {% endif %} value="{{eixo.eixo_id}}">{{eixo.nome}}</option>
            {% endfor %}       
          </select>
        </div>
        
        <div class="col-md-4 form-group">
          <label for="basicInput"><b>MODALIDADE:</b></label>
          <select class="form-control" id="modalidade" name="modalidade" required>
            <option selected value="">---------</option>
            {% for modalidade in modalidades %}
            <option {% if modalidade.id ==  idModalidade %} selected {% endif %} value="{{modalidade.id}}">{{modalidade.modalidade}}</option>
           {% endfor %}
          </select>
        </div>
        
        <div class="col-md-4 form-group">
          <label for="basicInput"><b>CURSO:</b></label>
          <select class="form-control" id="curso" name="curso" required>
            <option selected value="">---------</option>
            {% for curso in cursos %}
            <option {% if curso.id ==  idCurso %} selected {% endif %} value="{{curso.id}}">{{curso.curso}}</option>
            {% endfor %}         
          </select>
        </div>

      

        <div class="col-md-4 form-group">
          <label for="basicInput"><b>TURNO:</b></label>
          <select class="form-control" id="turno" name="turno" required>
            <option selected value="">---------</option>
            <option {% if turno ==  "VESPERTINO" %} selected {% endif %} value="VESPERTINO">VESPERTINO</option>
            <option {% if turno ==  "MATUTINO" %} selected {% endif %} value="MATUTINO">MATUTINO</option>
            <option {% if turno ==  "NOTURNO" %} selected {% endif %} value="NOTURNO">NOTURNO</option>
          </select>
        </div>

        <div class="col-md-4 form-group">
          <label for="basicInput"><b>ANO:</b></label>
          <select class="form-control" id="ano" name="ano" required>
            <option selected value="">---------</option>
            <option {% if ano ==  2021 %} selected {% endif %} value="2021">2021</option>  
            <option {% if ano ==  2022 %} selected {% endif %} value="2022">2022</option> 
            <option {% if ano ==  2023 %} selected {% endif %} value="2023">2023</option> 
            <option {% if ano ==  2024 %} selected {% endif %} value="2024">2024</option> 
            <option {% if ano ==  2025 %} selected {% endif %} value="2025">2025</option>  
          </select>
        </div>
        
          

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>SEMESTRE:</b></label>
            <select class="form-control" id="trimestre" name="trimestre" required>
              <option selected value="">---------</option>
              <option {% if trimestre ==  1 %} selected {% endif %} value="1">1º Semestre</option>  
              <option {% if trimestre ==  2 %} selected {% endif %} value="2">2º Semestre</option>  
            </select>
          </div>

          <div class="col-md-4 form-group" id="ajax_carga_horaria">
            <label for="basicInput"><b>CARGA HORÁRIA:</b></label>
            <input
              type="number"
              class="form-control"
              id="carga_horaria"
              name="carga_horaria"
              placeholder="Carga Horária:"
              min="1"
              value="{{ch}}"
              oninput="calcular()"
              required
            >
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>VAGAS TOTAIS:</b></label>
            <input
              type="number"
              class="form-control"
              id="vagas_totais"
              name="vagas_totais"
              placeholder="Informe a quantidade de vagas:"
              min="1"
              value="{{qtdVagas}}"
              oninput="calcular()"
              required
            >
          </div>

         

          <div class="col-md-4 form-group" id="cht_ajax">
            <label for="basicInput"><b>CARGA HORÁRIA TOTAL:</b></label>
            <input
              type="number"
              class="form-control"
              id="ch_total"
              name="ch_total"
              placeholder="Informe a carga horária:"
              min="1"
              value="{{cht}}"
              readonly
              
            >
            
          </div>
          <input style="display: none;" id="limite" name="limite" value="0" >
          <input style="display: none;" id="cht_meta" name="cht_meta" value="{{cht}}" >
          <div class="col-md-4 form-group">
            <label for="basicInput"><b>DATA PREVISTA PARA INÍCIO:</b></label>
            <input
              type="date"
              class="form-control"
              id="data_p_inicio"
              name="data_p_inicio"
              value="{{pi}}"
              required

            >
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>DATA PREVISTA PARA FINALIZAR:</b></label>
            <input
              type="date"
              class="form-control"
              id="data_p_fim"
              name="data_p_fim"
              value="{{pf}}"
              required

            >
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>DIAS DA SEMANA:</b></label>
            <input
              type="text"
              class="form-control"
              id="dias_semana"
              name="dias_semana"
              value="{{dia_semana}}"
              required

            >
          </div>



          <!-- OCULTO -->
          <div class="col-md-4 form-group" style="display: none;">
            <label for="basicInput"><b>PREVISÃO PARA ABERTURA DO EDITAL:</b></label>
            <input
              type="date"
              class="form-control"
              id="p_abertura_edital"
              name="p_abertura_edital"
              

            >
          </div>

          <div class="col-md-4 form-group" style="display: none;">
            <label for="basicInput"><b>PREVISÃO PARA FECHAMENTO DO EDITAL:</b></label>
            <input
              type="date"
              class="form-control"
              id="p_fechamento_edital"
              name="p_fechamento_edital"
              

            >
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>CURSO TÉCNICO:</b></label>
            <select class="form-control" id="curso_tecnico" name="curso_tecnico" required="">
            <option selected="" value="">---------</option>
            <option {% if curso_tecnico == 'Aprendizado De Máquina' %} selected {% endif %} value="Aprendizado De Máquina">Aprendizado De Máquina</option>  
            <option {% if curso_tecnico == 'Técnico Em Desenvolvimento Web E Mobile' %} selected {% endif %} value="Técnico Em Desenvolvimento Web E Mobile">Técnico Em Desenvolvimento Web E Mobile</option>    
            <option {% if curso_tecnico == 'Empresas Digitais' %} selected {% endif %} value="Empresas Digitais">Empresas Digitais</option>  
            <option {% if curso_tecnico == 'Marketing E Mídias Sociais' %} selected {% endif %} value="Marketing E Mídias Sociais">Marketing E Mídias Sociais</option>
            <option {% if curso_tecnico == 'Econômia Criativa' %} selected {% endif %} value="Econômia Criativa">Econômia Criativa</option>
           
          </select>
          </div>

          <div class="col-md-4 form-group">
            <label for="basicInput"><b>Qualificações:</b></label>
            <select class="form-control" id="qualificacoes" name="qualificacoes" required="">
            
           
          </select>
          </div>

          <div class="col-md-4 form-group">
            {% if jus_reprovacao != ""%}
            <button style="width: 100%;" type="button"   data-bs-toggle="modal"data-bs-target="#motivo"style="width: 34%;" class="btn btn-primary">Motivo</button>
            {% endif %}
          </div>

          <div class="col-md-4 form-group">
            <a style="width: 100%;" href="/cadastrar-metas" class="btn btn-secondary" >Voltar</a>
          </div>
          
          <div class="col-md-4 form-group">
            <button style="width: 100%;" type="button" id="valida_form" onclick="validaForm()" class="btn btn-success">Atualizar Metas</button>
          </div>
         



         
        </div>
        
  
      </form>
      </div>
    </div>
  </div>
  <div class="modal fade text-left" id="motivo"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel140" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document">
      
        <div class="modal-content">
            <div class="modal bg-danger center">
                <h5  class="modal-title white" >Motivo
                </h5>
    
            </div>
         
            <div class="modal-body" style="text-align: center;">
              <h2 style="color: #000000;"><b>MOTIVO</b></h2>
               <b>{{jus_reprovacao}}</b>
              </div>
            <div class="modal-footer">
              <button style="width: 100%;" type="button" class="btn btn-light-secondary"
              data-bs-dismiss="modal">
              <i class="bx bx-x d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Fechar</span>
          </button>
            </div>
        </div>
      
    </div>
    </div>
  </div>

  <div class="modal fade text-left" id="ops" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel140" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          role="document">
        
          <div class="modal-content">
              <div class="modal bg-danger center">
                  <h5  class="modal-title white" >Limite Excedido!
                  </h5>
      
              </div>
           
              <div class="modal-body" style="text-align: center;">
                <h2 style="color: #000000;"><b>Oops!</b></h2>
                 <b>Não foi possível adicionar a carga horária total!
                  <br>O valor excede o limite permitido ou o saldo de horas não está cadastrado.</b>
                  <br><br><h3 style="color: #000000;" id="total_de_horas_disponiveis"></h3><hr>
                  Horas cadastradas para este tipo de lançamento
                </div>
              <div class="modal-footer">
                <button style="width: 100%;" type="button" class="btn btn-light-secondary"
                data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Fechar</span>
            </button>
              </div>
          </div>
        
      </div>
      </div>

      <script>
        const curso_tecnico = document.getElementById("curso_tecnico");
        const qualificacoes = document.getElementById("qualificacoes");
        $(document).ready(function(){
          qualificacoes.innerHTML = "";
        
        // Obtém o valor selecionado no Select1
        const cursoSelecionado = curso_tecnico.value;
      
        // Define as opções do Select2 com base no curso selecionado
        if (cursoSelecionado === "Aprendizado De Máquina") {
          const option1 = document.createElement("option");
          option1.value = "Fundamentos de Aprendizado de Máquina";
          option1.textContent = "Fundamentos de Aprendizado de Máquina";
          if(qualificacoes.value == "Fundamentos de Aprendizado de Máquina"){
            option1.selected = true;
          }
          qualificacoes.appendChild(option1);
      
          const option2 = document.createElement("option");
          option2.value = "Tratamento e Análise de Dados";
          option2.textContent = "Tratamento e Análise de Dados";
          if(qualificacoes.value == "Tratamento e Análise de Dados"){
            option2.selected = true;
          }
          qualificacoes.appendChild(option2);

          const option3 = document.createElement("option");
          option3.value = "Reconhecimento de Padrões";
          option3.textContent = "Reconhecimento de Padrões";
          if(qualificacoes.value == "Reconhecimento de Padrões"){
            option3.selected = true;
          }
          qualificacoes.appendChild(option3);

          const option4 = document.createElement("option");
          option4.value = "Aprendizado Profundo";
          option4.textContent = "Aprendizado Profundo";
          if(qualificacoes.value == "Aprendizado Profundo"){
            option4.selected = true;
          }
          qualificacoes.appendChild(option4);

          const option5 = document.createElement("option");
          option5.value = "Aplicações de Aprendizagem de Máquina";
          option5.textContent = "Aplicações de Aprendizagem de Máquina";
          if(qualificacoes.value == "Aplicações de Aprendizagem de Máquina"){
            option5.selected = true;
          }
          qualificacoes.appendChild(option5);

        } else if (cursoSelecionado === "Técnico Em Desenvolvimento Web E Mobile") {
          const option1 = document.createElement("option");
          option1.value = "Programação de Computadores";
          option1.textContent = "Programação de Computadores";
          if(qualificacoes.value == "Programação de Computadores"){
            option1.selected = true;
          }
          qualificacoes.appendChild(option1);
      
          const option2 = document.createElement("option");
          option2.value = "Desenvolvimento Web Front-End";
          option2.textContent = "Desenvolvimento Web Front-End";
          if(qualificacoes.value == "Desenvolvimento Web Front-End"){
            option2.selected = true;
          }
          qualificacoes.appendChild(option2);

          const option3 = document.createElement("option");
          option3.value = "Desenvolvimento Web Back-End";
          option3.textContent = "Desenvolvimento Web Back-End";
          if(qualificacoes.value == "Desenvolvimento Web Back-End"){
            option3.selected = true;
          }
          qualificacoes.appendChild(option3);

          const option4 = document.createElement("option");
          option4.value = "Auxiliar de Análise e Processo de Software";
          option4.textContent = "Auxiliar de Análise e Processo de Software";
          if(qualificacoes.value == "Auxiliar de Análise e Processo de Software"){
            option4.selected = true;
          }
          qualificacoes.appendChild(option4);

          const option5 = document.createElement("option");
          option5.value = "Desenvolvimento Mobile";
          option5.textContent = "Desenvolvimento Mobile";
          if(qualificacoes.value == "Desenvolvimento Mobilee"){
            option5.selected = true;
          }
          qualificacoes.appendChild(option5);

        } else if (cursoSelecionado === "Empresas Digitais") {
          const option1 = document.createElement("option");
          option1.value = "E-commerce";
          option1.textContent = "E-commerce";
          if(qualificacoes.value == "E-commerce"){
            option1.selected = true;
          }
          qualificacoes.appendChild(option1);

          const option2 = document.createElement("option");
          option2.value = "Tecnologias e Inovação para Start ups";
          option2.textContent = "Tecnologias e Inovação para Start ups";
          if(qualificacoes.value == "Tecnologias e Inovação para Start ups"){
            option2.selected = true;
          }
          qualificacoes.appendChild(option2);

          const option3 = document.createElement("option");
          option3.value = "Gestão do Negócio e Criação de Valor";
          option3.textContent = "Gestão do Negócio e Criação de Valor";
          if(qualificacoes.value == "Gestão do Negócio e Criação de Valor"){
            option3.selected = true;
          }
          qualificacoes.appendChild(option3);

          const option4 = document.createElement("option");
          option4.value = "Competências Empreendedoras";
          option4.textContent = "Competências Empreendedoras";
          if(qualificacoes.value == "Competências Empreendedoras"){
            option4.selected = true;
          }
          qualificacoes.appendChild(option4);

          const option5 = document.createElement("option");
          option5.value = "Marketing Digital";
          option5.textContent = "Marketing Digital";
          if(qualificacoes.value == "Marketing Digital"){
            option5.selected = true;
          }
          qualificacoes.appendChild(option5);
      
        
        } else if (cursoSelecionado === "Marketing E Mídias Sociais") {
          const option1 = document.createElement("option");
          option1.value = "E-commerce";
          option1.textContent = "E-commerce";
          if(qualificacoes.value == "E-commerce"){
            option1.selected = true;
          }
          qualificacoes.appendChild(option1);

          const option2 = document.createElement("option");
          option2.value = "Mídias Sociais";
          option2.textContent = "Mídias Sociais";
          if(qualificacoes.value == "Mídias Sociais"){
            option2.selected = true;
          }
          qualificacoes.appendChild(option2);

          const option3 = document.createElement("option");
          option3.value = "Experiência do Usuário/Consumidor (UX)";
          option3.textContent = "Experiência do Usuário/Consumidor (UX)";
          if(qualificacoes.value == "Mídias Sociais"){
            option3.selected = true;
          }
          qualificacoes.appendChild(option3);

          const option4 = document.createElement("option");
          option4.value = "Criação de Conteúdo Digital";
          option4.textContent = "Criação de Conteúdo Digital";
          if(qualificacoes.value == "Criação de Conteúdo Digital"){
            option4.selected = true;
          }
          qualificacoes.appendChild(option4);

          const option5 = document.createElement("option");
          option5.value = "Assistente em Marketing";
          option5.textContent = "Assistente em Marketing";
          if(qualificacoes.value == "Assistente em Marketing"){
            option5.selected = true;
          }
          qualificacoes.appendChild(option5);
          
        } else if (cursoSelecionado === "Econômia Criativa") {
          const option1 = document.createElement("option");
          option1.value = "Empreendedorismo Criativo";
          option1.textContent = "Empreendedorismo Criativo";
          if(qualificacoes.value == "Empreendedorismo Criativo"){
            option1.selected = true;
          }
          qualificacoes.appendChild(option1);

          const option2 = document.createElement("option");
          option2.value = "Serviços Criativos Especializados";
          option2.textContent = "Serviços Criativos Especializados";
          if(qualificacoes.value == "Serviços Criativos Especializados"){
            option2.selected = true;
          }
          qualificacoes.appendChild(option2);

          const option3 = document.createElement("option");
          option3.value = "Produtos Criativos Especializados";
          option3.textContent = "Produtos Criativos Especializados";
          if(qualificacoes.value == "Produtos Criativos Especializados"){
            option3.selected = true;
          }
          qualificacoes.appendChild(option3);

          const option4 = document.createElement("option");
          option4.value = "Economia Circular";
          option4.textContent = "Economia Circular";
          if(qualificacoes.value == "Economia Circular"){
            option4.selected = true;
          }
          qualificacoes.appendChild(option4);

          const option5 = document.createElement("option");
          option5.value = "Tecnologias 4.0 e 5.0";
          option5.textContent = "Tecnologias 4.0 e 5.0";
          if(qualificacoes.value == "Tecnologias 4.0 e 5.0"){
            option5.selected = true;
          }
          qualificacoes.appendChild(option5);

          
        
        }
        });
        curso_tecnico.addEventListener("change", function() {
          // Limpa as opções existentes no Select2
          qualificacoes.innerHTML = "";
        
          // Obtém o valor selecionado no Select1
          const cursoSelecionado = curso_tecnico.value;
        
          // Define as opções do Select2 com base no curso selecionado
          if (cursoSelecionado === "Aprendizado De Máquina") {
            const option1 = document.createElement("option");
            option1.value = "Fundamentos de Aprendizado de Máquina";
            option1.textContent = "Fundamentos de Aprendizado de Máquina";
            qualificacoes.appendChild(option1);
        
            const option2 = document.createElement("option");
            option2.value = "Tratamento e Análise de Dados";
            option2.textContent = "Tratamento e Análise de Dados";
            qualificacoes.appendChild(option2);
  
            const option3 = document.createElement("option");
            option3.value = "Reconhecimento de Padrões";
            option3.textContent = "Reconhecimento de Padrões";
            qualificacoes.appendChild(option3);
  
            const option4 = document.createElement("option");
            option4.value = "Aprendizado Profundo";
            option4.textContent = "Aprendizado Profundo";
            qualificacoes.appendChild(option4);
  
            const option5 = document.createElement("option");
            option5.value = "Aplicações de Aprendizagem de Máquina";
            option5.textContent = "Aplicações de Aprendizagem de Máquina";
            qualificacoes.appendChild(option5);
  
          } else if (cursoSelecionado === "Técnico Em Desenvolvimento Web E Mobile") {
            const option1 = document.createElement("option");
            option1.value = "Programação de Computadores";
            option1.textContent = "Programação de Computadores";
            qualificacoes.appendChild(option1);
        
            const option2 = document.createElement("option");
            option2.value = "Desenvolvimento Web Front-End";
            option2.textContent = "Desenvolvimento Web Front-End";
            qualificacoes.appendChild(option2);
  
            const option3 = document.createElement("option");
            option3.value = "Desenvolvimento Web Back-End";
            option3.textContent = "Desenvolvimento Web Back-End";
            qualificacoes.appendChild(option3);
  
            const option4 = document.createElement("option");
            option4.value = "Auxiliar de Análise e Processo de Software";
            option4.textContent = "Auxiliar de Análise e Processo de Software";
            qualificacoes.appendChild(option4);
  
            const option5 = document.createElement("option");
            option5.value = "Desenvolvimento Mobile";
            option5.textContent = "Desenvolvimento Mobile";
            qualificacoes.appendChild(option5);
  
          } else if (cursoSelecionado === "Empresas Digitais") {
            const option1 = document.createElement("option");
            option1.value = "E-commerce";
            option1.textContent = "E-commerce";
            qualificacoes.appendChild(option1);
  
            const option2 = document.createElement("option");
            option2.value = "Tecnologias e Inovação para Start ups";
            option2.textContent = "Tecnologias e Inovação para Start ups";
            qualificacoes.appendChild(option2);
  
            const option3 = document.createElement("option");
            option3.value = "Gestão do Negócio e Criação de Valor";
            option3.textContent = "Gestão do Negócio e Criação de Valor";
            qualificacoes.appendChild(option3);
  
            const option4 = document.createElement("option");
            option4.value = "Competências Empreendedoras";
            option4.textContent = "Competências Empreendedoras";
            qualificacoes.appendChild(option4);
  
            const option5 = document.createElement("option");
            option5.value = "Marketing Digital";
            option5.textContent = "Marketing Digital";
            qualificacoes.appendChild(option5);
        
          
          } else if (cursoSelecionado === "Marketing E Mídias Sociais") {
            const option1 = document.createElement("option");
            option1.value = "E-commerce";
            option1.textContent = "E-commerce";
            qualificacoes.appendChild(option1);
  
            const option2 = document.createElement("option");
            option2.value = "Mídias Sociais";
            option2.textContent = "Mídias Sociais";
            qualificacoes.appendChild(option2);
  
            const option3 = document.createElement("option");
            option3.value = "Experiência do Usuário/Consumidor (UX)";
            option3.textContent = "Experiência do Usuário/Consumidor (UX)";
            qualificacoes.appendChild(option3);
  
            const option4 = document.createElement("option");
            option4.value = "Criação de Conteúdo Digital";
            option4.textContent = "Criação de Conteúdo Digital";
            qualificacoes.appendChild(option4);
  
            const option5 = document.createElement("option");
            option5.value = "Assistente em Marketing";
            option5.textContent = "Assistente em Marketing";
            qualificacoes.appendChild(option5);
            
          } else if (cursoSelecionado === "Econômia Criativa") {
            const option1 = document.createElement("option");
            option1.value = "Empreendedorismo Criativo";
            option1.textContent = "Empreendedorismo Criativo";
            qualificacoes.appendChild(option1);
  
            const option2 = document.createElement("option");
            option2.value = "Serviços Criativos Especializados";
            option2.textContent = "Serviços Criativos Especializados";
            qualificacoes.appendChild(option2);
  
            const option3 = document.createElement("option");
            option3.value = "Produtos Criativos Especializados";
            option3.textContent = "Produtos Criativos Especializados";
            qualificacoes.appendChild(option3);
  
            const option4 = document.createElement("option");
            option4.value = "Economia Circular";
            option4.textContent = "Economia Circular";
            qualificacoes.appendChild(option4);
  
            const option5 = document.createElement("option");
            option5.value = "Tecnologias 4.0 e 5.0";
            option5.textContent = "Tecnologias 4.0 e 5.0";
            qualificacoes.appendChild(option5);
  
            
          
          }
        });
        
  </script>
<script>
  var carga_horaria_inicial =  $("#ch_total").val()
  var dia_semana_atual = $("#dias_semana").val()

  function pega_cht_atual(){
    var carga_horaria_padrao =  $("#ch_total").val()
    return carga_horaria_padrao
  }

  function pega_dias_atual(){
    var dia_atual =  $("#dias_semana").val()
    return dia_atual
  }

  function insereTexto(id)
    {document.getElementById('id_deleta').value = id;}

  

  $(document).ready(function(){

    var carga_horaria_padrao =  $("#ch_total").val()

    const url = "/ajax/ajax_load_cht";
    escola = document.getElementById('escola').value
    tipo_curso = document.getElementById('tipo').value
    ano = document.getElementById('ano').value
    modalidade = document.getElementById('modalidade').value
    eixo = document.getElementById('eixo').value
    semestre = document.getElementById('trimestre').value


    $.ajax({
            url : url,
            data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
            success: function(data){
                $("#cht_ajax").html(data);
                calcular()
            }
        });
  });

  function validaForm() {

   
    var limite = parseInt($("#limite").val());
    var cht = parseInt($("#ch_total").val());
    var cht_meta = parseInt($("#cht_meta").val());
    var limite_disponivel = cht_meta + limite
    document.getElementById('total_de_horas_disponiveis').innerHTML = limite

    var cht_p = pega_cht_atual()
    var d_a = pega_dias_atual()

      if (cht > limite_disponivel){
          var texto = "Carga Horária Total Excedida!<br>Disponível: "+limite_disponivel+' horas'
          document.getElementById('total_de_horas_disponiveis').innerHTML = texto
          document.getElementById('total_de_horas_disponiveis').style.color = "red"
          $('#ops').modal('show');
        
      }else{
        trimestre = $("#trimestre").val()
        data_p_inicio = $("#data_p_inicio").val()
        data_p_fim = $("#data_p_fim").val()
        dias_semana = $("#dias_semana").val()
        p_abertura_edital = $("#p_abertura_edital").val()
        p_fechamento_edital = $("#p_fechamento_edital").val()
        carga_horaria = $("#carga_horaria").val()
        vagas_totais = $("#vagas_totais").val()

        if (trimestre == "" || data_p_inicio == "" || data_p_fim == "" || dias_semana == ""  || carga_horaria == "" || vagas_totais == ""){

          if(trimestre == ""){
            document.getElementById('trimestre').style.borderColor = "red"
          }else{
            document.getElementById('trimestre').style.borderColor = ""
          }

          if(carga_horaria == ""){
            document.getElementById('carga_horaria').style.borderColor = "red"
          }else{
            document.getElementById('carga_horaria').style.borderColor = ""
          }

          if(vagas_totais == ""){
            document.getElementById('vagas_totais').style.borderColor = "red"
          }else{
            document.getElementById('vagas_totais').style.borderColor = ""
          }
      
          if(data_p_inicio == ""){
            document.getElementById('data_p_inicio').style.borderColor = "red"
          }else{
            document.getElementById('data_p_inicio').style.borderColor = ""
          }

          if(data_p_fim == ""){
            document.getElementById('data_p_fim').style.borderColor = "red"
          }else{
            document.getElementById('data_p_fim').style.borderColor = ""
          }

          // if(p_abertura_edital == ""){
          //   document.getElementById('p_abertura_edital').style.borderColor = "red"
          // }else{
          //   document.getElementById('p_abertura_edital').style.borderColor = ""
          // }

          if(dias_semana == ""){
            document.getElementById('dias_semana').style.borderColor = "red"
          }else{
            document.getElementById('dias_semana').style.borderColor = ""
          }

          // if(p_fechamento_edital == ""){
          //   document.getElementById('p_fechamento_edital').style.borderColor = "red"
          // }else{
          //   document.getElementById('p_fechamento_edital').style.borderColor = ""
          // }
        
        }else{
          document.getElementById('Form').submit();
        }
        
      }
    }
    

  
  
  function calcular() {
    var n1 = parseInt(document.getElementById("carga_horaria").value, 10);
    var n2 = parseInt(document.getElementById("vagas_totais").value, 10);
    var resultado = n1 * n2;
    document.getElementById("ch_total").value = parseInt(resultado);
  }

  $("#escola").change(function(){
       console.log('teste')
        const url = "/ajax/ajax_load_cht";
        const url_eixos = '/ajax/ajax_load_eixos';
        const url_cursos = "/ajax/ajax_load_cursos";
        const url_municipio = "/ajax/ajax_load_municipios";
        const url_ch = '/ajax/ajax_load_carga_hr_curso'

        escola = $(this).val();
        tipo_curso = document.getElementById('tipo').value
        ano = document.getElementById('ano').value
        modalidade = document.getElementById('modalidade').value
        eixo = document.getElementById('eixo').value
        semestre = document.getElementById('trimestre').value

        var curso_selected = $('#curso option:selected').text()


        $.ajax({
          url : url_cursos,
          
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

        $.ajax({
            url : url_eixos,
            data: {'escola_id': escola,'tipo_id':tipo_curso},
            success: function(data){
                $("#eixo").html(data);
            }
        });

        $.ajax({
            url : url,
            data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
            success: function(data){
                $("#cht_ajax").html(data);
                calcular()
            }
        });

        $.ajax({
            url : url_municipio,
            data: {'escola_id': escola},
            success: function(data){
                $("#municipio").html(data);
            }
        });

        $.ajax({

          url : url_ch,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
          success: function(data){
              $("#ajax_carga_horaria").html(data);
    
          }
    });
  });

  $("#tipo").change(function(){
       
       const url = "/ajax/ajax_load_cht";
       const url_cursos = "/ajax/ajax_load_cursos";
       const url_ch = '/ajax/ajax_load_carga_hr_curso'

       tipo_curso = $(this).val();
       escola = document.getElementById('escola').value
       ano = document.getElementById('ano').value
       modalidade = document.getElementById('modalidade').value
       eixo = document.getElementById('eixo').value
       semestre = document.getElementById('trimestre').value

       var curso_selected = $('#curso option:selected').text()

       $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

       $.ajax({
           url : url,
           data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
           success: function(data){
               $("#cht_ajax").html(data);
               calcular()
           }
       });


        $.ajax({
            
            url : url_ch,
            data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
            success: function(data){
                $("#ajax_carga_horaria").html(data);

            }
          });

   });

  $("#ano").change(function(){
       
       const url = "/ajax/ajax_load_cht";
       ano = $(this).val();
       escola = document.getElementById('escola').value
       tipo_curso = document.getElementById('tipo').value
       modalidade = document.getElementById('modalidade').value
       semestre = document.getElementById('trimestre').value
       $.ajax({
           url : url,
           data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
           success: function(data){
               $("#cht_ajax").html(data);
               calcular()
           }
       });
   });

  $("#modalidade").change(function(){
       
      const url = "/ajax/ajax_load_cht";
      const url_cursos = "/ajax/ajax_load_cursos";
  
      modalidade = $(this).val();
      eixo = document.getElementById('eixo').value
      escola = document.getElementById('escola').value
      console.log(escola)
      tipo_curso = document.getElementById('tipo').value
      ano = document.getElementById('ano').value
      semestre = document.getElementById('trimestre').value

      console.log(eixo)
      $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'ano':ano},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

      $.ajax({
          url : url,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
          success: function(data){
              $("#cht_ajax").html(data);
              calcular()
          }
      });
  });

  $("#curso").change(function(){

      const url_ch = '/ajax/ajax_load_carga_hr_curso'
      var curso_selected = $('#curso option:selected').text()
   

       eixo = document.getElementById('eixo').value
       escola = document.getElementById('escola').value
       console.log(escola)
       tipo_curso = document.getElementById('tipo').value
       ano = document.getElementById('ano').value
       semestre = document.getElementById('trimestre').value
       modalidade = document.getElementById('modalidade').value
  
       $.ajax({

          url : url_ch,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'curso_selected':curso_selected},
          success: function(data){
              $("#ajax_carga_horaria").html(data);

          }
          });
   });

  $("#eixo").change(function(){
        const url_cursos = "/ajax/ajax_load_cursos";

        eixo = $(this).val();
        tipo_curso = document.getElementById('tipo').value
        modalidade = document.getElementById('modalidade').value
        escola = document.getElementById('escola').value
        tipo_curso = document.getElementById('tipo').value
        ano = document.getElementById('ano').value
        semestre = document.getElementById('trimestre').value

        $.ajax({
          url : url_cursos,
          data: {'escola_id': escola,'tipo_id':tipo_curso,'eixo_id':eixo,'modalidade_id':modalidade,'ano':ano},
          success: function(data){
              $("#curso").html(data);
    
          }
      });

    });
  
  $("#trimestre").change(function(){
      const url_cursos = "/ajax/ajax_load_cht";

      semestre = $(this).val();
      tipo_curso = document.getElementById('tipo').value
      modalidade = document.getElementById('modalidade').value
      escola = document.getElementById('escola').value
      tipo_curso = document.getElementById('tipo').value
      ano = document.getElementById('ano').value

      $.ajax({
        url : url_cursos,
        data: {'escola_id': escola,'tipo_id':tipo_curso,'ano':ano,'modalidade_id':modalidade,'semestre':semestre},
        success: function(data){
            $("#cht_ajax").html(data);
  
        }
    });

  });
  
  function insereTexto(id,vagas_totais,carga_horaria,escola,tipo,ano)
    {
      console.log(id)
      document.getElementById('id_deleta').value = id;
      var total = vagas_totais * carga_horaria
      document.getElementById('cht').value = total
      document.getElementById('escola_delete').value = escola
      document.getElementById('tipo_delete').value = tipo
      document.getElementById('ano_delete').value = ano
      }

  function mascaraData( campo, e )
  {
    var kC = (document.all) ? event.keyCode : e.keyCode;
    var data = campo.value;
    
    if( kC!=8 && kC!=46 )
    {
      if( data.length==2 )
      {
        campo.value = data += '/';
      }
      else if( data.length==5 )
      {
        campo.value = data += '/';
      }
      else
        campo.value = data;
    }
  }
</script>

  {% endblock content %}
