{% extends "index.html" %}
{% block content %}

{% if 'gpu' in permissoes.permission %}
<div class="page-heading">
  <h3>Permissões de Usuários</h3>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <div class="colum">
        <div class="row">
            <div class="col-md-8">
              Gerenciamento de controle de usuário
            </div>
            
          <div class="col-md-4" style="text-align: right;">
            <button data-bs-toggle="modal"
            data-bs-target="#cadastrar_usuario" class="btn btn-success" id="cadastrar_user" name="cadastrar_user" ><i class="fas fa-user"></i><spam> Cadastrar Usuário</spam></button>
          </div>
      </div>
     
    </h4>
  </div>

  <div class="card-body">

    <div class="column">

        <form  class="form-control" method="post" action="/salvar-permissoes">
          {% csrf_token %}
        <div class="form-group">
          <label for="basicInput"><b>Usuário</b></label>
          <select class="form-control" id="basicInput" name="basicInput">
            <option selected>INFORME UM USUÁRIO</option>
            {% for user in users %}
            <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
          </select>
        </div>

       
    


    <hr>
    <div class="column" id="form_perm">
          
        <div class="form-group">
          <label for="basicInput"><b>PLANEJAMENTO</b></label>
          <hr>
          <div class="row">
          <div class="col-md-4 form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="ima" name="ima" id="ima">
                <label class="form-check-label" for="flexCheckDefault">
                  INCLUIR METAS ANALÍTICAS
                </label>
              </div>
            </div>

            <div class="col-md-4 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="ims"  name="ims" id="ims">
                    <label class="form-check-label" for="flexCheckDefault">
                      INCLUIR METAS SINTÉTICO
                    </label>
                  </div>
                </div>

                <div class="col-md-4 form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="opt"  name="opt" id="opt">
                        <label class="form-check-label" for="flexCheckDefault">
                          ORÇAMENTO DE PLANO DE TRABALHO
                        </label>
                      </div>
                    </div>

                    <div class="col-md-4 form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="cc"  name="cc" id="cc">
                            <label class="form-check-label" for="flexCheckDefault">
                              CADASTRAR CURSO
                            </label>
                          </div>
                        </div>

                        <div class="col-md-4 form-group">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox"  name="ce" id="ce">
                              <label class="form-check-label" for="flexCheckDefault">
                                CADASTRAR ESCOLAS
                              </label>
                            </div>
                          </div>

                        <div class="col-md-4 form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="dm" value="" name="dm" id="dm">
                                <label class="form-check-label" for="flexCheckDefault">
                                  DIVISÃO DE METAS
                                </label>
                              </div>
                            </div>

                            <div class="col-md-4 form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="ac"  name="ac" id="ac">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      APROVAÇÃO DE CURSOS
                                    </label>
                                  </div>
                                </div>

                                <div class="col-md-4 form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="vte"  name="vte" id="vte">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          VERIFICAÇÃO DE TURMAS DO EDITAL
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="ae"  name="ae" id="ae">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          APROVAR EDITAIS
                                        </label>
                                      </div>
                                    </div>
                                    <div class="col-md-4 form-group"></div>
                                    <br>
                                    <br>
                                    <br>
                                    
                       
            </div>
            <label for="basicInput"><b>PROCESSOS</b></label>
            <hr>
            <div class="row">
            <div class="col-md-4 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="sicge"  name="sicge" id="sicge">
                    <label class="form-check-label" for="flexCheckDefault">
                      SOLICITAR INCLUSÃO DE CURSO NA GRADE DA ESCOLAS
                    </label>
                  </div>
                </div>

                <div class="col-md-4 form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="sat"  name="sat" id="sat">
                        <label class="form-check-label" for="flexCheckDefault">
                          SOLICITAR DE ABERTURA DE TURMAS
                        </label>
                      </div>
                    </div>
                </div>
                <br>
                <br>

                <label for="basicInput"><b>PERMISSÕES</b></label>
            <hr>
            <div class="row">
            <div class="col-md-4 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="gpu"  name="gpu" id="gpu">
                    <label class="form-check-label" for="flexCheckDefault">
                      GERENCIAR PERMISSÕES DE USUÁRIOS
                    </label>
                  </div>
                </div>

                <div class="col-md-4 form-group">
                  <label for="basicInput"><b>ESCOLA:</b></label>
                  
                  <select class="form-control" id="escola" name="escola" required>
                    <option value="0">TODAS</option>
                    {% for escola in escolas %}
                    <option value="{{escola.id}}">{{escola.escola}}</option>
                    {% endfor %}
                    
                  </select>
                </div>

             
        </div>
        </div>
        <div style="text-align: right;">
        <button  type="submit" class="btn btn-success">ATUALIZAR PERMISSÕES</button>
    </div>
      </form>

    </div>
  </div>

  <div class="modal fade text-left" id="cadastrar_usuario" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel140" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          role="document">
        
          <div class="modal-content">
              <div class="modal-header bg-success">
                  <h5 class="modal-title white" id="myModalLabel140">Cadastrar Usuário
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal"
                      aria-label="Close">
                      <i data-feather="x"></i>
                  </button>
              </div>
           
              <div class="modal-body">
                <form name="Form" id="Form" method="POST" action="/cadastrar-usuario">
                  {% csrf_token %}
                  <div class="column">
                    <div class="row">

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>CPF:</b></label>
                          <input
                            type="text"
                            class="form-control"
                            id="cpf"
                            name="cpf"
                            placeholder="Informe o cpf:"

                            required
                          >
                      </div>

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>USUÁRIO:</b></label>
                          <input
                            type="text"
                            class="form-control"
                            id="nome_user"
                            name="nome_user"
                            placeholder="Informe o usuário:"

                            required
                          >
                      </div>

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>EMAIL:</b></label>
                          <input
                            type="email"
                            class="form-control"
                            id="email_user"
                            name="email_user"
                            placeholder="Informe o email do usuário:"

                            required
                          >
                      </div>

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>SENHA:</b></label>
                          <input
                            type="password"
                            class="form-control"
                            id="senha_user"
                            name="senha_user"
                            placeholder="Informe a senha do usuário:"

                            required
                          >
                      </div>

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>ID USUÁRIO SIGA:</b></label>
                          <input
                            type="number"
                            class="form-control"
                            id="user_siga"
                            name="user_siga"
                            placeholder="Informe o id do usuário do siga:"

                            required
                          >
                      </div>

                      <div class="col-md-12 form-group">
                        <label for="basicInput"><b>ID USUÁRIO SELEÇÃO:</b></label>
                          <input
                            type="number"
                            class="form-control"
                            id="user_selecao"
                            name="user_selecao"
                            placeholder="Informe o id do usuário do seleção:"

                            required
                          >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  <button class="btn btn-success ml-1 " type="submit">Cadastrar</button>
                  <button type="button" class="btn btn-light-secondary mt-2"data-bs-dismiss="modal"><i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">Fechar</span></button>
                </div>
                </form>
                  
                    
                  
              </div>
            
              
              </div>
          </div>
        
      </div>
      </div>

  {% else %}
<div class="alert alert-danger" role="alert">
  :'( Desculpe, mas você não tem permissões para acessar esta funcionalidade do sistema!
</div>
{% endif %}
  <script>
    $("#basicInput").change(function(){
      url = '/ajax/ajax_load_perm'
      userid = document.getElementById('basicInput').value
      $.ajax({
          url : url,
          
          data: {'userid': userid},
          success: function(data){
              $("#form_perm").html(data);
    
          }
      });
    });
 </script>
  
  {% endblock content %}

</div>
